<div class="hk-pg-wrapper pb-0">
    <div class="hk-pg-body py-0">
        <div class="fmapp-wrap fmapp-sidebar-toggle" #infoDiv id="info">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000" data-bs-pause="hover">
                <ol class="carousel-indicators">
                    <li *ngFor="let publicidad of global.filteredPublicidad; let i = index" 
                        [attr.data-bs-target]="'#carouselExampleIndicators'" 
                        [attr.data-bs-slide-to]="i" 
                        [class.active]="i === 0">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div *ngFor="let publicidad of global.filteredPublicidad; let i = index" class="carousel-item" [class.active]="i === 0">
                        <div class="row">
                            <div class=" text-center" >
                                <div class=" mt-2 box-image" *ngIf="publicidad.files.length > 0">
                                    <img [src]="publicidad.files[0]" alt="img" class="img-fluid" style="max-height: 200px; width: auto;">
                                </div>
                                <div class=" carousel-caption d-md-block">
                                    <h5 class="text-white">{{publicidad.subject}}</h5>
                                    <p class="text-white">{{publicidad.description}}</p>
                                    <a href="https://wa.me/1234567890" target="_blank" class="btn btn-success">Solicite aquí</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="fmapp-content">
                <div class="fmapp-detail-wrap">
                    <div class="fm-body">
                        <header class="fm-header" *ngIf="showDocuments" style="background: rgba(233, 41, 144, 0.15);">

                            <div class="d-flex align-items-center flex-grow-1">
                                <a class="fmapp-title dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#"
                                    role="button" aria-haspopup="true" aria-expanded="false">
                                    <h1>{{ global.selectedTema ? global.selectedTema.name : 'Todos los temas' }}</h1>                            </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" (click)="global.verTodosTemas()">
                                            <span class="feather-icon dropdown-icon"><i data-feather="eye"></i></span>
                                            <span>Ver Todos</span>
                                        </a>
                                        <a class="dropdown-item" *ngFor="let tema of global.temas" (click)="global.selectTema(tema)">
                                            <span class="feather-icon dropdown-icon"><i data-feather="file"></i></span>
                                            <span>{{ tema.name }} </span>
                                        </a>
                                    </div>
                                <form class="mx-3 flex-grow-1 mw-400p" role="search" (submit)="global.searchDocuments($event)">
                                    <input type="text" class="form-control" placeholder="Buscar entre los documentos" [(ngModel)]="global.searchQuery" (ngModelChange)="global.applyFilters()" name="searchQuery">
            
                                </form>
                            </div>
                            <div class="d-flex align-items-center flex-grow-1">
                                <a class="fmapp-title dropdown-toggle link-dark" data-bs-toggle="dropdown" 
                                    role="button" aria-haspopup="true" aria-expanded="false">
                                    <h1>{{ global.selectedYear ? global.selectedYear : 'Todos los años' }}</h1>
                                </a>
                                <div class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
                                    <a class="dropdown-item" (click)="global.verTodosAnos()">
                                        <span class="feather-icon dropdown-icon"><i data-feather="eye"></i></span>
                                        <span>Ver Todos</span>
                                    </a>
                                    <a class="dropdown-item" *ngFor="let year of years" (click)="global.selectYear(year)">
                                        <span class="feather-icon dropdown-icon"><i data-feather="file"></i></span>
                                        <span>{{ year }}</span>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="fm-options-wrap" *ngIf="showDocuments" style="text-align: right;">
                                <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" (click)="global.verTodos()">
                                    <span class="icon">
                                        <i class="fa fa-refresh"></i> 
                                    </span>
                                </a>
                                <!-- Botón de flecha izquierda -->
                               
                                <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover"
                                    (click)="showDocuments = false" >
                                    <span class="icon">
                                        <i class="fa fa-arrow-left"></i>
                                    </span>
                                </a>
            
                                <!-- Botón de colapso (solo visible en pantallas grandes) -->
                                <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover hk-navbar-togglable d-lg-inline-block d-none"
                                    href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse">
                                    <span class="icon">
                                        <i class="fa fa-chevron-up"></i>
                                        <i class="d-none" data-feather="chevron-down"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="hk-sidebar-togglable"></div>
                        </header>
                        <div data-simplebar class="nicescroll-bar">
                            <div class="row row-cols-xxl-3 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-1 mt-4"
                                [hidden]="showDocuments">
                                <div class="col" *ngFor="let repositorio of global.repositorios; let i = index">
                                    <div class="card card-border contact-card"
                                        style="  border-radius: 10px 30px; background: #d8d8d8;"
                                        (click)="viewRepositorio(repositorio)">
                                        <div class="card-body text-center">

                                            <div class="avatar avatar-xl avatar-rounded">
                                            </div>
                                            <div class="user-name"><span class="contact-star"><span
                                                        class="feather-icon"><i class="fa fa-file"></i></span></span>
                                            </div>
                                            <div class="user-email" (click)="viewRepositorio(repositorio)"
                                                style="cursor: pointer;">{{repositorio.name}}
                                            </div>
                                            <span class="fs-7 lh-1" (click)="viewRepositorio(repositorio)"
                                                style="cursor: pointer;">
                                                <i class="fa fa-eye"></i>
                                                Ver Documentos
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="collapse-simple mt-4" [hidden]="!showDocuments">
                                <div class="card">
                                    <div id="fm_collapse_1" class="collapse show">
                                        <div class="row row-cols-xxl-3 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-1 mt-4">
                                            <div class="col-3" *ngFor="let document of global.filteredDocuments">
                                                <div class="card card-border fmapp-info-toggle" (click)="setPreview(document)">
                                                    <div class="card  card-border fmapp-info-toggle"
                                                        style="border-radius: 10px; background: #582e6d;">
                                                        <div class="card-body ">
                                                            <div class="d-flex justify-content-between align-items-start">
                                                                <div>
                                                                    <div class="file-name"
                                                                        style="font-size: 20px; font-weight: bold; color: #d8d8d8;">
                                                                        Asunto: {{ document.subject | slice:0:15 }}{{
                                                                        document.subject.length > 15 ? '...' : '' }}
                                                                    </div>
                                                                    <div class="text-truncate fs-8 mb-2">
                                                                        Receptor: {{document.receiver | slice:0:20 }}{{
                                                                        document.receiver.length > 20 ? '...' : '' }}</div>
                                                                    <div class="text-truncate fs-8 mb-2">
                                                                        Entidad: {{document.entity }}</div>
                                                                    <p class="text-truncate p-xs">F.E:
                                                                        {{document.issue}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="file-info">
                        <div data-simplebar class="nicescroll-bar">
                            <button type="button" class="info-close btn-close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <a class="btn btn-xs btn-icon btn-rounded btn-light pull-right" (click)="close()"><span
                                    class="feather-icon">
                                    x
                                </span></a>
                            <div class="file-name">{{docummentSelected.subject}}</div>
                            <span></span>
                            <div class="card-body fmapp-info-trigger">
                                <!-- <i class="svg-icon"></i> -->
                                <i class="ri-file-pdf-fill text-blue" style="font-size: 80px;"></i> 

                            </div>
                            <ul class="nav nav-justified nav-light nav-tabs nav-segmented-tabs active-theme mt-5">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab">
                                        <span class="nav-link-text">Detalles</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content mt-5">
                                <div class="tab-pane fade show active" id="tab_info">
                                    <div class="collapse-simple">
                                        <div class="card">
                                           
                                            <div id="fl_info" class="collapse show">
                                                <div class="card-body">
                                                    <ul class="fm-info">
                                                        <li>
                                                            <span>Enlace</span>
                                                            <span>
                                                                <a href="{{docummentSelected.files[0]}}" target="_blank"
                                                                    style="color: #582e6d; cursor: pointer;"> Abrir</a>
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>Serial</span>
                                                            <span>{{docummentSelected.serial}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Asunto</span>
                                                            <span>{{docummentSelected.subject}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Entidad Emisora</span>
                                                            <span>{{docummentSelected.entity}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Fecha de expedicion</span>
                                                            <span>{{docummentSelected.issue}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Persona receptora</span>
                                                            <span>{{docummentSelected.receiver}}</span>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab_activity">
                                    <div class="collapse-simple">

                                        <div class="card">
                                            <div class="card-header">
                                                <a role="button" data-bs-toggle="collapse" href="#act_info2"
                                                    aria-expanded="true">Actividad</a>
                                            </div>
                                            <div id="act_info2" class="collapse show">
                                                <div class="card-body">
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- /Page Body -->
    <!-- Chat Popup -->
   
    
</div>

