<div class="hk-pg-wrapper">
	<div class="container-xxl">
		<!-- Page Header -->
		<div class="hk-pg-header pg-header-wth-tab pt-7">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-lg-0 mb-2 me-8">
						<h1 class="pg-title">Ajustes</h1>
						<p>Configura tu cuenta</p>
					</div>
					<div class="pg-header-action-wrap">
						<div class="input-group w-300p">
							<span class="input-affix-wrapper">
								<span class="input-prefix"><span class="feather-icon"><i data-feather="calendar"></i></span></span>
								<input class="form-control form-wth-icon" name="datetimes" [(ngModel)]="dateRange">
							</span>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<!-- Page Body -->
		<div class="hk-pg-body">
			<div class="tab-content">
				<div class="tab-pane fade show active" id="tab_block_1">
					<div class="row">
							<div class="col-xxl-12 col-lg-12 col-md-12 mb-md-4 mb-3">
							<div class="card card-border mb-0 h-100">
								
								<div class="card-body">
								
									<div id="column_chart_2"></div>
									 <div class="flex-grow-1 ms-lg-3">
										<div class="row g-0 gap-3">
											<div class="col-xxl-6 col-lg-6 col-sm-6 mb-xxl-0 mb-4 items">
												<div class="d-flex align-items-center" style="cursor: pointer;">
													<img src="assets/jampack/dist/img/contacts.png" alt="Documentos" class="boton"> 
													<span class="d-block fw-medium fs-7">Repositorios</span>
												</div>
												<div class="d-flex align-items-center" *ngFor="let repo of global.repositorios">
													<span class="d-block fs-4 fw-medium text-dark mb-0">Nombre: </span>
													<span class="badge badge-sm badge-soft-success ms-1"><i class="fa fa-phone"></i> {{ repo.name }}</span>
												</div>
											</div>
											<div class="col-xxl-6 col-lg-6 col-sm-6 mb-xxl-0 mb-4 items">
												<span class="d-flex align-items-center fw-medium fs-7"  style="cursor: pointer;">
													<img src="assets/jampack/dist/img/doc.png" alt="Documentos" class="boton"> 
													Temas
												</span>
												<div class="d-flex align-items-center" *ngFor="let tema of global.temas">
                                                    <span class="d-block fs-4 fw-medium text-dark mb-0">Nombre: </span>
                                                    <span class="badge badge-sm badge-soft-success ms-1">
                                                        <i class="fa fa-file"></i> {{ tema.name }}
                                                    </span>
                                                </div>
												</div>                                                   
											<div class="col-xxl-6 col-lg-6 col-sm-6 mb-xxl-0 mb-4 items">
												<div class="d-flex align-items-center" style="cursor: pointer;" >
													<img src="assets/jampack/dist/img/doc1.png" alt="Documentos" class="boton"> 
													<span class="d-block fw-medium fs-7">Categorias</span>
												</div>
												<div class="d-flex align-items-center" *ngFor="let categoria of global.categories">
													<span class="d-block fs-4 fw-medium text-dark mb-0">Nombre: </span>
													<span class="badge badge-sm badge-soft-success ms-1">
													<i class="fa fa-file"></i> {{ categoria.name }}
													</span>
												</div>
											</div>
											
											</div>
										</div>	
									</div> 
								</div>
							</div>
						</div> 
					</div>	
				</div>
		</div>
		<!-- /Page Body -->		
	</div>
	
</div>