<div class="hk-pg-wrapper">
    <div class="container-xxl">
        <div class="hk-pg-header pg-header-wth-tab pt-7">
            <div class="d-flex">
                <div class="flex-1">
                    <h1 class="pg-title">Configuración inicial</h1>
                    <p class="p-lg col-lg-8">A continuación, personalice y configure la aplicación según sus preferencias </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <div class="title-lg fs-5 mt-10"><span>Identidad</span></div>
                    <div class="row gx-2 filter-block-wrap mt-5">
                        
                        <label class="form-label">Logotipo (imágen horizontak)</label>
                        <div class="col-sm-3 col-6">

                            <div class="card text-white filter-block h-75p mb-2">
                                <input class="form-check-input" type="checkbox">
                                <img src="dist/img/Jampack.png" class="" alt="img-desc">
                                <div class="card-img-overlay bg-opacity-75 d-flex align-items-center justify-content-center">
                                  <h5 class="card-title text-white">Infrastructure</h5>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Nombre o razón social</label>
                            <div class="input-group">
                                <span class="input-affix-wrapper">
                                
                                    <input type="text" class="form-control form-control-lg " placeholder="Nombre de la empresa" value="">
                                    <a href="#" class="input-suffix text-muted"><span class="feather-icon"><i data-feather="edit-3"></i></span></a>
                                </span>
                            </div>
                        
                        </div>
                    </div>
                    

                    <div class="title-lg fs-5 mt-5"><span>Colaboradores</span></div>

                    <div class="row gx-2 filter-block-wrap mt-5">
                        <div class="form-group">
                            <label class="form-label">Nombre o razón social</label>
                            <div class="input-group">
                                <span class="input-affix-wrapper">
                                
                                    <input type="text" class="form-control form-control-lg " placeholder="Nombre de la empresa" value="">
                                    <a href="#" class="input-suffix text-muted"><span class="feather-icon"><i data-feather="edit-3"></i></span></a>
                                </span>
                            </div>
                        
                        </div>
                    </div>

                    <div class="text-end mt-5 mb-5">
                        <button class="btn btn-primary btn-rounded">
                            Continuar
                        </button>
                    </div>
                </div>
            </div>	
     
        </div>
    
    </div>