<div class="hk-pg-wrapper">
	<div class="container-xxl">
		<!-- Page Header -->
		<div class="hk-pg-header pg-header-wth-tab pt-7">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-lg-0 mb-2 me-8">
						<h1 class="pg-title">Ajustes</h1>
						<p>Configura tu cuenta</p>
					</div>			
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<!-- Page Body -->
		<div class="hk-pg-body">
			<div class="tab-content">
				<div class="tab-pane fade show active" id="tab_block_1">
					<div class="row">
							<div class="col-xxl-12 col-lg-12 col-md-12 mb-md-4 mb-3">
							<div class="card card-border mb-0 h-100">
								
								<div class="card-body">
								
									<div id="column_chart_2"></div>
									 <div class="flex-grow-1 ms-lg-3">
										<div class="row g-0 gap-3">
											<div class="col-xxl-3 col-lg-3 col-sm-6 mb-xxl-0 mb-4 items row">
                                                <div class="d-flex justify-content-between align-items-center w-100">
                                                    <span class="d-flex align-items-center fw-medium fs-7" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#viewRepositorio">
                                                        <img src="assets/jampack/dist/img/doc.png" alt="Documentos" class="boton"> 
                                                        Repositorios
                                                    </span>
                                                    
                                                    <div class="dropdown">
                                                        <a class="menu-btn-gradient btn btn-xs btn-icon btn-rounded flex-shrink-0 dropdown-toggle"
                                                            data-bs-toggle="dropdown" role="button"
                                                            aria-haspopup="true" aria-expanded="false"
                                                            (click)="$event.stopPropagation()">
                                                            <span class="icon">
                                                                <span class="feather-icon"><i class="fa fa-ellipsis-v"></i></span>
                                                            </span>
                                                        </a>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#viewRepositorio"> <!-- Pass the repo object -->
                                                                <span class="feather-icon dropdown-icon">
                                                                    <i class="fa fa-eye"></i></span>
                                                                Ver
                                                            </a>
                                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#viewRepositorio"> <!-- Pass the repo object -->
                                                                <span class="feather-icon dropdown-icon">
                                                                    <i class="fa fa-add"></i></span>
                                                                Agregar
                                                            </a>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <span class="d-block fs-4 fw-medium text-dark mb-0">Total: </span>
                                                    <span class="badge badge-sm badge-soft-success ms-1">
                                                        <i class="fa fa-file"></i> {{ totalRepositorios }}
                                                    </span>
                                                </div>
                                                
                                            </div>
											<div class="col-xxl-3 col-lg-3 col-sm-6 mb-xxl-0 mb-4 items row">
                                                <div class="d-flex justify-content-between align-items-center w-100">
                                                    <span class="d-flex align-items-center fw-medium fs-7" style="cursor: pointer;">
                                                        <img src="assets/jampack/dist/img/doc.png" alt="Documentos" class="boton"> 
                                                        Temas
                                                    </span>
                                                    <div class="dropdown">
                                                        <a class="menu-btn-gradient btn btn-xs btn-icon btn-rounded flex-shrink-0 dropdown-toggle"
                                                            data-bs-toggle="dropdown" role="button"
                                                            aria-haspopup="true" aria-expanded="false"
                                                            (click)="$event.stopPropagation()">
                                                            <span class="icon">
                                                                <span class="feather-icon"><i class="fa fa-ellipsis-v"></i></span>
                                                            </span>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <a class="dropdown-item" (click)="updateTema()">
                                                                <span class="feather-icon dropdown-icon">
                                                                    <i class="fa fa-eye"></i></span>
                                                                Ver
                                                            </a>
                                                            <a class="dropdown-item" (click)="updateTema()">
                                                                <span class="feather-icon dropdown-icon">
                                                                    <i class="fa fa-edit"></i></span>
                                                                Editar
                                                            </a>
                                                            <a class="dropdown-item" (click)="deleteTema(deleteTema)">
                                                                <span class="feather-icon dropdown-icon">
                                                                    <i class="fa fa-trash"></i></span>
                                                                Borrar
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <span class="d-block fs-4 fw-medium text-dark mb-0">Total: </span>
                                                    <span class="badge badge-sm badge-soft-success ms-1">
                                                        <i class="fa fa-file"></i> {{ totalTemas }}
                                                    </span>
                                                </div>
                                            </div>
											<div class="col-xxl-3 col-lg-3 col-sm-6 mb-xxl-0 mb-4 items row">
                                                <div class="d-flex justify-content-between align-items-center w-100">
                                                    <span class="d-flex align-items-center fw-medium fs-7" style="cursor: pointer;">
                                                        <img src="assets/jampack/dist/img/doc.png" alt="Documentos" class="boton"> 
                                                        Categorias
                                                    </span>
                                                    <div class="dropdown">
                                                        <a class="menu-btn-gradient btn btn-xs btn-icon btn-rounded flex-shrink-0 dropdown-toggle"
                                                            data-bs-toggle="dropdown" role="button"
                                                            aria-haspopup="true" aria-expanded="false"
                                                            (click)="$event.stopPropagation()">
                                                            <span class="icon">
                                                                <span class="feather-icon"><i class="fa fa-ellipsis-v"></i></span>
                                                            </span>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <a class="dropdown-item" (click)="updateTema()">
                                                                <span class="feather-icon dropdown-icon">
                                                                    <i class="fa fa-eye"></i></span>
                                                                Ver
                                                            </a>
                                                            <a class="dropdown-item" (click)="updateTema()">
                                                                <span class="feather-icon dropdown-icon">
                                                                    <i class="fa fa-edit"></i></span>
                                                                Editar
                                                            </a>
                                                            <a class="dropdown-item" (click)="deleteTema(deleteTema)">
                                                                <span class="feather-icon dropdown-icon">
                                                                    <i class="fa fa-trash"></i></span>
                                                                Borrar
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <span class="d-block fs-4 fw-medium text-dark mb-0">Total: </span>
                                                    <span class="badge badge-sm badge-soft-success ms-1">
                                                        <i class="fa fa-file"></i> {{ totalCategories }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div id="viewRepositorio" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Repositorios</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul class="list-group">
                                                                <li class="list-group-item" *ngFor="let repo of global.repositorios">
                                                                    {{ repo.name }} 
                                                                    <button class="btn btn-warning btn-sm float-end" (click)="editRepo(repo)">Editar</button>
                                                                    <button class="btn btn-danger btn-sm float-end me-2" (click)="deleteRepositorio(repo)">Borrar</button>
                                                                </li>
                                                            </ul>
                                                            <h6 class="text-uppercase fw-bold mb-3" style="color: #000; padding-top: 20px">{{ isEditMode ? 'Actualizar Repositorio' : 'Agregar Nuevo Repositorio' }}</h6>

                                                            <form (ngSubmit)="submitNewRepo()">
                                                                <div class="mb-3">
                                                                    <label for="repoName" class="form-label" style="color: #000">Nombre del Repositorio</label>
                                                                    <input type="text" class="form-control" id="repoName" [(ngModel)]="formData.name" name="repoName" required placeholder="Ingrese el nombre del repositorio">
                                                                </div>
                                                                <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Actualizar' : 'Agregar' }}</button>
                                                                <button type="button" class="btn btn-secondary" (click)="resetForm()">Cancelar</button>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
										</div>	
									</div> 
								</div>
							</div>
						</div> 
					</div>	
				</div>
		</div>
		<!-- /Page Body -->		
	</div>
	
</div>