
<nav class="hk-navbar navbar navbar-expand-xl  fixed-top">
    <div class="container-fluid">
    <!-- Start Nav -->
    <div class="nav-start-wrap">
        <button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle d-xl-none"><span class="icon"><span class="feather-icon"><i data-feather="align-left"></i></span></span></button>
        
    </div>
    <!-- /Start Nav -->
    
    <!-- End Nav -->
    <div class="nav-end-wrap">
        <ul class="navbar-nav flex-row">
            <li class="nav-item" style="padding: 10px;">
                <div class="dropdown ps-2">
                    <a class=" dropdown-toggle no-caret" href="#" role="button" data-bs-display="static" data-bs-toggle="dropdown" data-dropdown-animation data-bs-auto-close="outside" aria-expanded="false">
                        <div class="avatar avatar-rounded avatar-xs">
                            <img src="assets/jampack/dist/img/avataer10.jpg" [hidden]="authRest.getType()!='admin'" alt="user" class="avatar-img">

                            <img src="assets/jampack/dist/img/avataer10.jpg" [hidden]="authRest.getType()=='admin'" alt="user" class="avatar-img">
                            <!-- <img src="assets/jampack/dist/img/avataer10.jpg" alt="user" class="avatar-img"> -->
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="p-2">
                            <div class="media">
                                <div class="media-head me-2">
                                    <div class="avatar avatar-primary avatar avatar-rounded">
                                        <img src="assets/jampack/dist/img/avataer10.jpg" alt="user" class="avatar-img">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="dropdown">
                                        <a  class="d-block dropdown-toggle link-dark fw-medium"  data-bs-toggle="dropdown" data-dropdown-animation data-bs-auto-close="inside">{{authRest.getCurrentUser().name}}</a>
                                    </div>
                                    <div class="fs-7">{{authRest.getCurrentUser().email}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="virtualRouter.setRoute('settings')"><i class="feather-icon dropdown-icon"><i data-feather="settings"></i></i> Ajustes</a>
                        <a class="dropdown-item" (click)="global.signOut()"><i class="feather-icon dropdown-icon"><i data-feather="log-out"></i></i> Salir</a>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
    <!-- /End Nav -->
    </div>									
</nav>
<!-- /Top Navbar -->