Términos y Condiciones de Uso

1. Introducción

Este documento establece los términos y condiciones generales aplicables al uso de la plataforma VENDRICOM (en adelante, "la plataforma"). Al acceder o utilizar la plataforma, aceptas estos términos y condiciones. Si no estás de acuerdo con alguno de estos términos, no deberías usar la plataforma.

2. Acceso a la Plataforma

Para acceder a algunos de los servicios de la plataforma, es posible que se te solicite registrarte, crear una cuenta y proporcionar cierta información. La información que suministres debe ser precisa, completa y actualizada en todo momento.

3. Registro de Usuarios

El usuario es responsable de la protección y confidencialidad de sus credenciales de acceso (usuario y contraseña). El uso no autorizado de la cuenta es responsabilidad del usuario, quien debe notificar a  VENDRICOM ante cualquier incidente de seguridad.

4. Uso Aceptable

El usuario acepta utilizar la plataforma solo para los fines permitidos por la ley y de acuerdo con estos términos y condiciones. Queda prohibido:

Publicar contenido ofensivo, ilícito o inapropiado.

Interferir o intentar dañar el funcionamiento de la plataforma.

Hacerse pasar por otra persona o entidad.


5. Propiedad Intelectual

Todo el contenido disponible en la plataforma, incluidos textos, gráficos, logotipos, imágenes y software, es propiedad de VENDRICOM o de sus licenciantes y está protegido por las leyes de derechos de autor y otras normativas de propiedad intelectual.

6. Limitación de Responsabilidad

Nombre de tu plataforma no garantiza que la plataforma esté libre de errores o que su uso sea ininterrumpido. La plataforma se proporciona "tal cual" y VENDRICOM no será responsable de cualquier daño directo, indirecto, incidental o consecuente derivado del uso de la plataforma.

7. Modificaciones a los Términos

Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones serán efectivas inmediatamente después de su publicación en la plataforma. Es responsabilidad del usuario revisar los términos y condiciones periódicamente.

8. Ley Aplicable y Jurisdicción

Estos términos y condiciones se rigen por las leyes de Costa Rica. Cualquier controversia que surja será resuelta ante los tribunales competentes.


---

Políticas de Privacidad

1. Introducción

En VENDRICOM valoramos tu privacidad y nos comprometemos a proteger tu información personal. Esta política de privacidad describe cómo recopilamos, usamos y protegemos tus datos cuando utilizas nuestra plataforma.

2. Información Recopilada

Podemos recopilar información personal de los usuarios de diversas formas, incluyendo:

Información proporcionada por el usuario: nombre, dirección de correo electrónico, número de teléfono, entre otros.

Datos de navegación: dirección IP, tipo de navegador, páginas visitadas, tiempo de navegación, etc.


3. Uso de la Información

La información que recopilamos será utilizada para:

Proporcionar los servicios solicitados.

Mejorar la plataforma y la experiencia del usuario.

Comunicarnos contigo respecto a actualizaciones, ofertas o noticias relacionadas con la plataforma.

Cumplir con obligaciones legales o regulatorias.


4. Protección de Datos

Tomamos medidas técnicas y organizativas adecuadas para proteger tu información personal contra pérdida, uso indebido, acceso no autorizado, divulgación, alteración y destrucción.

5. Compartir Información con Terceros

VENDRICOM no compartirá tu información personal con terceros, excepto en los siguientes casos:

Con proveedores de servicios que actúan en nuestro nombre.

Para cumplir con leyes aplicables, regulaciones o procesos legales.

Si es necesario para proteger nuestros derechos, privacidad o seguridad.


6. Cookies

La plataforma utiliza cookies para mejorar la experiencia del usuario. Las cookies son pequeños archivos que se almacenan en el dispositivo del usuario. El usuario puede optar por deshabilitar las cookies desde la configuración de su navegador, aunque esto puede afectar el funcionamiento de la plataforma.

7. Derechos del Usuario

El usuario tiene derecho a acceder, rectificar, cancelar u oponerse al tratamiento de sus datos personales. Para ejercer estos derechos, el usuario puede contactarnos a través de soporte@vendricom.com  o formulario de contacto de nuestra página web vendricom.con

8. Cambios en la Política de Privacidad

Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Las actualizaciones serán notificadas a través de la plataforma y estarán disponibles para su consulta.

9. Contacto

Si tienes alguna duda o inquietud sobre nuestras políticas de privacidad, puedes contactarnos en: soporte64#!vendricom.com


