<div class="hk-pg-wrapper pb-0">
    <!-- Page Body -->
    <div class="hk-pg-body py-0">
        <div class="fmapp-wrap" #infoDiv id="info">
            <nav class="fmapp-sidebar" [hidden]="pocketAuthService.getType()!='admin'">
                <div data-simplebar class="nicescroll-bar">
                    <div class="menu-content-wrap">
                        <div class="menu-group">
                            <ul class="nav nav-light navbar-nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0);">
                                        <span class="nav-icon-wrap"><span class="feather-icon"><i
                                                    data-feather="upload"></i></span></span>
                                        <span class="nav-link-text">Subir normativa a VENDRICOM</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <form (ngSubmit)="submitForm()">
                            <div class="form-group">
                                <label for="asunto">Titulo:</label>
                                <input type="text" class="form-control" id="asunto" name="asunto"
                                    [(ngModel)]="formData.asunto" required>
                            </div>
                            <div class="form-group">
                                <label for="fechaEmision">Fecha de Emisión:</label>
                                <input type="date" class="form-control" id="fechaEmision" name="fechaEmision"
                                    [(ngModel)]="formData.fechaEmision" required>
                            </div>
                            <!-- <div class="form-group">
                                <label for="entidadRegulatoria">Entidad Regulatoria:</label>
                                <input type="text" class="form-control" id="entidadRegulatoria"
                                    name="entidadRegulatoria" [(ngModel)]="formData.entidadRegulatoria" required>
                            </div> -->
                            <!-- <div class="form-group">
                                <label for="nombreReceptor">Nombre de la Persona Receptora:</label>
                                <input type="text" class="form-control" id="nombreReceptor" name="nombreReceptor"
                                    [(ngModel)]="formData.nombreReceptor" required>
                            </div> -->
                            <div class="form-group">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label for="nombreReceptor">Categoría:</label>
                                    <a (click)="open('categoria')" style="cursor: pointer;"
                                        class="btn btn-xs btn-icon btn-rounded btn-light" data-bs-toggle="modal"
                                        data-bs-target="#add_fav_board"><span class="icon" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="" data-bs-original-title="Add Board"><span
                                                class="feather-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg></span></span></a>
                                </div>
                                <ng-multiselect-dropdown [ngModelOptions]="{standalone: true}"
                                    [placeholder]="'Selecciona una'" [data]="global.categories"
                                    [(ngModel)]="data.categories" [settings]="dropdownSettings">
                                </ng-multiselect-dropdown>
                            </div>
                            <!-- <div class="form-group">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label for="nombreReceptor">Tema:</label>
                                    <a (click)="open('tema')" style="cursor: pointer;"
                                        class="btn btn-xs btn-icon btn-rounded btn-light" data-bs-toggle="modal"
                                        data-bs-target="#add_fav_board"><span class="icon" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="" data-bs-original-title="Add Board"><span
                                                class="feather-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg></span></span></a>
                                </div>
                                <ng-multiselect-dropdown [ngModelOptions]="{standalone: true}"
                                    [placeholder]="'Seleccione un tema'" [data]="global.temas" [(ngModel)]="data.temas"
                                    [settings]="dropdownSettings">
                                </ng-multiselect-dropdown>
                            </div> -->
                            <div class="d-flex align-items-center justify-content-between mb-2">

                            </div>
                            <div class="form-group">
                                <label for="serial">Numero de ley:</label>
                                <input type="text" class="form-control" id="serial" name="serial"
                                    [(ngModel)]="formData.serial" required>
                            </div>
                        </form>

                        <div class="separator separator-light"></div>
                        <div class="menu-group">

                        </div>
                        <div class="btn btn-outline-primary btn-rounded btn-block btn-file mb-4">
                            Subir normativa
                            <input type="file" (change)="global.onFileChanged($event)">
                        </div>
                        <button class="btn btn-primary btn-rounded btn-block btn-file mb-4"
                            [hidden]="_butler.uploaderImages.length==0" (click)="submitForm()">Guardar</button>

                    </div>
                </div>

            </nav>
            <div class="fmapp-content">
                <div class="fmapp-detail-wrap">


                    <header class="fm-header">
                        <div class="d-flex align-items-center flex-grow-1">
                            <!-- <a class="fmapp-title dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <h1>{{ global.selectedTema ? global.selectedTema.name : 'Todos los temas' }}</h1>
                            </a> -->
                            <div class="dropdown-menu">
                                <a class="dropdown-item" *ngFor="let tema of global.temas" (click)="global.selectTema(tema)">
                                    <span class="feather-icon dropdown-icon"><i data-feather="file"></i></span>
                                    <span>{{ tema.name }}</span>
                                </a>
                            </div>
                            <form class="mx-3 flex-grow-1 mw-400p" role="search" (submit)="global.searchNormativas($event)">
                                <input type="text" class="form-control" placeholder="Buscar entre las normativas" [(ngModel)]="global.searchQuery" (ngModelChange)="global.applyFiltersNormativas()" name="searchQuery">

                                <!-- <input type="text" class="form-control" placeholder="Buscar entre las normativas" [(ngModel)]="global.searchQuery"> -->
                            </form>
                        </div>
                        <div class="d-flex align-items-center flex-grow-1">
                            <a class="fmapp-title dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <h1>{{ global.selectedYear ? global.selectedYear : 'Todos los años' }}</h1>
                            </a>
                            <div class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
                                <a class="dropdown-item" *ngFor="let year of years" (click)="global.selectYear(year)">
                                    <span class="feather-icon dropdown-icon"><i data-feather="file"></i></span>
                                    <span>{{ year }}</span>
                                </a>
                            </div>
                        </div>
                        <div class="fm-options-wrap">
                            <!-- <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover fmapp-info-toggle"
                                href="#"><span class="icon"><span class="feather-icon"><i data-feather="info"></i></span></span></a>
                             --><a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover hk-navbar-togglable d-lg-inline-block d-none"
                                href="#" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Collapse">
                                <span class="icon">
                                    <span class="feather-icon"><i data-feather="chevron-up"></i></span>
                                    <span class="feather-icon d-none"><i data-feather="chevron-down"></i></span>
                                </span>
                            </a>
                        </div>
                        <div class="hk-sidebar-togglable"></div>
                    </header>
                    
                    
                    <!-- <header class="fm-header">
                        <div class="d-flex align-items-center flex-grow-1">
                            <a class="fmapp-title dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <h1>Todos los temas</h1>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" *ngFor="let tema of global.temas"><span class="feather-icon dropdown-icon"><i
                                            data-feather="file"></i></span><span> {{tema.name}}</span></a>
                               
                            </div>
                            <form class="mx-3 flex-grow-1 mw-400p" role="search">
                                <input type="text" class="form-control" placeholder="Buscar entre las normativas">
                            </form>
                        </div>
                        <div class="d-flex align-items-center flex-grow-1">
                            <a class="fmapp-title dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <h1>Todos los años</h1>
                            </a>
                            <div class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
                                <a class="dropdown-item" *ngFor="let year of years">
                                  <span class="feather-icon dropdown-icon">
                                    <i data-feather="file"></i>
                                  </span>
                                  <span>{{ year }}</span>
                                </a>
                              </div>
                              
                          
                        </div>
                        <div class="fm-options-wrap">
                      
                            <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover fmapp-info-toggle"
                                href="#"><span class="icon"><span class="feather-icon"><i
                                            data-feather="info"></i></span></span></a>
                       
                            <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover hk-navbar-togglable d-lg-inline-block d-none"
                                href="#" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                                data-bs-original-title="Collapse">
                                <span class="icon">
                                    <span class="feather-icon"><i data-feather="chevron-up"></i></span>
                                    <span class="feather-icon d-none"><i data-feather="chevron-down"></i></span>
                                </span>
                            </a>
                        </div>
                        <div class="hk-sidebar-togglable"></div>
                    </header> -->
                    <div class="fm-body">
                        <div data-simplebar class="nicescroll-bar">
                            <div class="file-card-view">
                                <!-- <div class="alert alert-warning alert-wth-icon alert-dismissible fade show"
                                    role="alert">
                                    <span class="alert-icon-wrap"><i class="ri-alert-line"></i></span>
                                    <div class="d-flex align-items-center flex-wrap flex-sm-nowrap">
                                        Bienvenido, aqui un mensaje de actualización de perfil
                                        <a href="#"
                                            class="btn btn-sm btn-warning ms-sm-auto mt-sm-0 mt-2 flex-shrink-0">Actualizar
                                            información</a>
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div> -->
                                <div class="collapse-simple mt-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <a role="button" data-bs-toggle="collapse" href="#fm_collapse_1"
                                                aria-expanded="true">
                                                <h5 class="mb-0" style="color: white;">Normativas recientes</h5>
                                            </a>
                                        </div>
                                        <div id="fm_collapse_1" class="collapse show">
                                            <div class="row gx-3 row-cols-xxl-4 row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-1 mt-3">
                                                <div class="col" *ngFor="let normativa of global.filteredNormativas">
                                                    <div class="card file-card card-border">
                                                        <div class="card-body fmapp-info-trigger">
<!--                                                             <i class="svg-icon"></i>
 -->                                                            <!-- <i class="ri-file-excel-2-fill text-blue" style="font-size: 120px;"></i> -->
                                                        </div>
                                                        <div class="card-footer">
                                                            <div
                                                                class="d-flex justify-content-between align-items-start">
                                                                <div  (click)="setPreview(normativa)">
                                                                    <div class="file-name" >{{normativa.subject}}</div>
                                                                    <div class="text-truncate fs-8 mb-2">
                                                                        {{normativa.receiver}}</div>
                                                                </div>
                                                                <div class="d-flex">

                                                                    <a class="btn btn-xs btn-icon btn-flush-dark btn-rounded flush-soft-hover flex-shrink-0"
                                                                        href="#" data-bs-toggle="dropdown" role="button"
                                                                        aria-haspopup="true" aria-expanded="false"><span
                                                                            class="icon"><span class="feather-icon"><i
                                                                                    data-feather="more-horizontal"></i></span></span></a>
                                                                    <!-- <div class="dropdown-menu">

                                                                        <a class="dropdown-item" href="#"><span
                                                                                class="feather-icon dropdown-icon"><i
                                                                                    data-feather="link-2"></i></span><span>Compartir
                                                                                Link</span></a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item" href="#"><span
                                                                                class="feather-icon dropdown-icon"><i
                                                                                    data-feather="info"></i></span><span>Ver
                                                                            </span></a>
                                                                        <a class="dropdown-item" href="#"><span
                                                                                class="feather-icon dropdown-icon"><i
                                                                                    data-feather="download"></i></span><span>Download</span></a>
                                                                        <a class="dropdown-item" href="#"><span
                                                                                class="feather-icon dropdown-icon"><i
                                                                                    data-feather="trash-2"></i></span><span>Borrar</span></a>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                            <p class="text-truncate p-xs">Fecha de expedición:
                                                                {{normativa.issue}}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="file-info">
                        <div data-simplebar class="nicescroll-bar">
                            <button type="button" class="info-close btn-close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <a class="btn btn-xs btn-icon btn-rounded btn-light pull-right" (click)="close()"><span
                                    class="feather-icon">
                                    x
                                </span></a>
                            <div class="file-name">{{docummentSelected.subject}}</div>
                            <span></span>
                            <!-- <img src="assets/jampack/dist/img/gallery/mock2.jpg" alt="user"
                                class="d-block img-fluid my-4 w-250p"> -->
                            <div class="card-body fmapp-info-trigger">
                                <i class="svg-icon"></i>
                                <!-- <i class="ri-file-excel-2-fill text-blue" style="font-size: 200px;"></i> -->
                            </div>
                            <ul class="nav nav-justified nav-light nav-tabs nav-segmented-tabs active-theme mt-5">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_info">
                                        <span class="nav-link-text">Detalles</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab_activity">
                                        <span class="nav-link-text">Actividad</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content mt-5">
                                <div class="tab-pane fade show active" id="tab_info">
                                    <div class="collapse-simple">
                                        <div class="card">
                                            <div class="card-header">
                                                <a role="button" data-bs-toggle="collapse" href="#fl_info"
                                                    aria-expanded="true">Detalles</a>
                                            </div>
                                            <div id="fl_info" class="collapse show">
                                                <div class="card-body">
                                                    <ul class="fm-info">
                                                        <li>
                                                            <span>Enlace</span>
                                                            <span>
                                                                <a href="{{docummentSelected.files[0]}}" target="_blank"
                                                                    style="color: blue; cursor: pointer;"> abrir</a>
                                                            </span>
                                                        </li>
                                                        
                                                        <li>
                                                            <span>Titulo</span>
                                                            <span>{{docummentSelected.subject}}</span>
                                                        </li>
                                                   <!--      <li>
                                                            <span>Entidad Emisora</span>
                                                            <span>{{docummentSelected.entity}}</span>
                                                        </li> -->
                                                        <li>
                                                            <span>Fecha de expedicion</span>
                                                            <span>{{docummentSelected.issue}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Numero de ley</span>
                                                            <span>{{docummentSelected.serial}}</span>
                                                        </li>
                                                      <!--   <li>
                                                            <span>Persona receptora</span>
                                                            <span>{{docummentSelected.receiver}}</span>
                                                        </li> -->
                                                        <!-- <li>
                                                            <span>Dimension</span>
                                                            <span>1950 x 1245</span>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a role="button" data-bs-toggle="collapse" href="#shared_with"
                                                    aria-expanded="true">Compartir con </a>
                                            </div>
                                            <div id="shared_with" class="collapse show">
                                                <div class="card-body">
                                                    <ul class="hk-list">
                                                        <li>
                                                            <div
                                                                class="avatar avatar-sm avatar-primary position-relative avatar-rounded">
                                                                <img src="assets/jampack/dist/img/avatar9.jpg"
                                                                    alt="user" class="avatar-img">
                                                                <div
                                                                    class="badge-icon badge-circle text-blue badge-icon-xxs position-bottom-end-overflow-1">
                                                                    <div class="badge-icon-wrap">
                                                                        <i class="ri-upload-2-fill"></i>
                                                                    </div>
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 127 127">
                                                                        <g data-name="Ellipse 302"
                                                                            transform="translate(8 8)" stroke-width="3">
                                                                            <circle cx="55.5" cy="55.5" r="55.5"
                                                                                stroke="currentColor"></circle>
                                                                            <circle cx="55.5" cy="55.5" r="59.5"
                                                                                fill="currentColor"></circle>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="avatar avatar-sm  avatar-rounded">
                                                                <img src="assets/jampack/dist/img/avatar10.jpg"
                                                                    alt="user" class="avatar-img">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="avatar avatar-sm avatar-soft-danger avatar-rounded"
                                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="" data-bs-original-title="Winston">
                                                                <span class="initial-wrap">W</span>
                                                            </div>
                                                        </li>
                                                        <!-- <li>
                                                            <a href="#"
                                                                class="avatar avatar-sm avatar-icon avatar-soft-light avatar-rounded"
                                                                data-bs-toggle="modal" data-bs-target="#invite_people">
                                                                <span class="initial-wrap" data-bs-toggle="tooltip"
                                                                    data-bs-placement="top" title=""
                                                                    data-bs-original-title="Add New">
                                                                    <span class="feather-icon"><i
                                                                            data-feather="plus"></i></span>
                                                                </span>
                                                            </a>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="card">
                                            <div class="card-header">
                                                <a role="button" data-bs-toggle="collapse" href="#settings"
                                                    aria-expanded="true">Settings </a>
                                            </div>
                                            <div id="settings" class="collapse show">
                                                <div class="card-body">
                                                    <ul class="fm-action">
                                                        <li>
                                                            <a href="javascript:void(0);">
                                                                <span class="text-danger">Delete File</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">
                                                                Somthing's Wrong
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a href="#" class="d-block text-dark fs-7 mb-2">Give feedback and
                                                        report conversation</a>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab_activity">
                                    <div class="collapse-simple">
                                        <div class="card">
                                            <div class="card-header">
                                                <a role="button" data-bs-toggle="collapse" href="#act_info1"
                                                    aria-expanded="true">Actividad</a>
                                            </div>
                                            <div id="act_info1" class="collapse show">
                                                <div class="card-body">
                                                    <!-- <ul class="activity-list list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <div class="media">
                                                                <div class="media-head">
                                                                    <div
                                                                        class="avatar avatar-sm avatar-primary avatar-rounded">
                                                                        <span class="initial-wrap">H</span>
                                                                    </div>
                                                                </div>
                                                                <div class="media-body">
                                                                    <p><span class="text-dark">Hencework</span> is
                                                                        working on <a href="#"
                                                                            class="link-url"><u>https://assets.adobe.com/id/urn:aaid:sc:AP:5cebaf53-ca19-420a-aeeb-1517b04ab8c0?view=file</u></a>
                                                                    </p>
                                                                    <div class="last-activity-time">3:15 PM</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div class="media">
                                                                <div class="media-head">
                                                                    <div
                                                                        class="avatar avatar-sm avatar-soft-danger avatar-rounded">
                                                                        <span class="initial-wrap">W</span>
                                                                    </div>
                                                                </div>
                                                                <div class="media-body">
                                                                    <p><span class="text-dark">Morgan Fregman</span>
                                                                        completed react conversion of <a href="#"
                                                                            class="link-default"><u>components</u></a>
                                                                    </p>
                                                                    <div class="last-activity-time">3:15 PM</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a role="button" data-bs-toggle="collapse" href="#act_info2"
                                                    aria-expanded="true">23 April</a>
                                            </div>
                                            <div id="act_info2" class="collapse show">
                                                <div class="card-body">
                                                    <ul class="activity-list list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <div class="media">
                                                                <div class="media-head">
                                                                    <div class="avatar avatar-sm avatar-rounded">
                                                                        <img src="assets/jampack/dist/img/avatar15.jpg"
                                                                            alt="user" class="avatar-img">
                                                                    </div>
                                                                </div>
                                                                <div class="media-body">
                                                                    <p><span class="text-dark">lalala</span> is
                                                                        working on <a href="#"
                                                                            class="link-url"><u>https://assets.adobe.com/id/urn:aaid:sc:AP:5cebaf53-ca19-420a-aeeb-1517b04ab8c0?view=file</u></a>
                                                                    </p>
                                                                    <div class="last-activity-time">3:15 PM</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div class="media">
                                                                <div class="media-head">
                                                                    <div class="avatar avatar-sm avatar-rounded">
                                                                        <img src="assets/jampack/dist/img/avatar12.jpg"
                                                                            alt="user" class="avatar-img">
                                                                    </div>
                                                                </div>
                                                                <div class="media-body">
                                                                    <p><span class="text-dark">Morgan Fregman</span>
                                                                        completed react conversion of <a href="#"
                                                                            class="link-default"><u>components</u></a>
                                                                    </p>
                                                                    <div class="last-activity-time">3:15 PM</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>