<div [hidden]="virtualRouter.routerActive==='login' || virtualRouter.routerActive==='register' " class="hk-wrapper" data-layout="vertical"
  data-layout-style="default" data-menu="dark" data-footer="simple" data-hover="active">
  <app-top-navbar [hidden]="virtualRouter.routerActive=='settings'"></app-top-navbar>
  <app-vertical-nav [hidden]="virtualRouter.routerActive=='settings'"></app-vertical-nav>
  <app-settings [hidden]="virtualRouter.routerActive!=='settings'"></app-settings>
  <app-user-home [hidden]="virtualRouter.routerActive!=='user-home'"></app-user-home>
  <app-admin-home [hidden]="virtualRouter.routerActive!=='admin-home'"></app-admin-home>
  <app-file-manager [hidden]="virtualRouter.routerActive!=='file-manager'"></app-file-manager>
  <app-normativa [hidden]="virtualRouter.routerActive!=='normativas'"></app-normativa>
  <app-boletines [hidden]="virtualRouter.routerActive!=='boletines'"></app-boletines>
  <app-jurisprudencia [hidden]="virtualRouter.routerActive!=='jurisprudencia'"></app-jurisprudencia>
  <app-modelos [hidden]="virtualRouter.routerActive!=='modelos'"></app-modelos>
  <app-admin-support [hidden]="virtualRouter.routerActive!=='admin-support'"></app-admin-support>
  <app-user-support [hidden]="virtualRouter.routerActive!=='user-support'"></app-user-support>
  <app-cursos [hidden]="virtualRouter.routerActive!=='cursos'"></app-cursos>
  <app-publicity [hidden]="virtualRouter.routerActive!=='publicity'"></app-publicity>
  <app-faq [hidden]="virtualRouter.routerActive!=='faq'"></app-faq>
  <app-contacts [hidden]="virtualRouter.routerActive!=='contacts'"></app-contacts>
  <app-estudios [hidden]="virtualRouter.routerActive!=='estudios'"></app-estudios>
  <app-capacitaciones [hidden]="virtualRouter.routerActive!=='capacitaciones'"></app-capacitaciones>
  <app-modal [hidden]="virtualRouter.routerActive!=='modal'"></app-modal>
</div>
<div class="hk-wrapper hk-pg-auth" data-footer="simple" [hidden]="virtualRouter.routerActive!=='login'&& virtualRouter.routerActive!=='register' ">
  <app-login [hidden]="virtualRouter.routerActive!=='login'"></app-login>
  <app-register [hidden]="virtualRouter.routerActive!=='register'"></app-register>
</div>

<div class="whatsapp-popup">
    <a href="https://wa.me/50672964128?text=Bienvenidos%20a%20VENDRICOM.%20Le%20atenderemos%20brevemente%20al%20n%C3%BAmero%20de%20Costa%20Rica%3A%2072964128" target="_blank">
        <i class="fab fa-whatsapp" style="font-size: 2.2rem; padding-right: 10px; padding-left: 15px; color: #fff;"></i>
    </a>
</div>
  
<div class="hk-chatbot-popup d-md-block d-flex" 
     [hidden]="global.chatbot==='false' || !isChatOpen"
     [ngClass]="{'d-none': !isChatOpen}">
     
 <!--  <header>
      <div class="chatbot-head-top">
          <a class="btn btn-sm btn-icon btn-dark btn-rounded" href="javascript:void(0);" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="icon"><span class="feather-icon"><i data-feather="more-horizontal"></i></span></span>
          </a>
          
          <span class="text-white">Chatea con nosotros</span>
          <a id="minimize_chatbot" href="javascript:void(0);" class="btn btn-sm btn-icon btn-dark btn-rounded">
              <span class="icon"><span class="feather-icon"><i data-feather="minus"></i></span></span>
          </a>
      </div>

  </header>
  <div class="chatbot-popup-body" style="padding-top: 15%;">
      <div data-simplebar class="nicescroll-bar">
          <div >
              <div class="init-content-wrap">
                  <div class="card card-shadow">
                      <div class="card-body">
                          <p class="card-text">Bienvenido a VENDRICOM 💬<br>En que podemos
                              ayudarte?<br><br></p>
                      </div>
                  </div>
                  <div class="btn-wrap">
                      <button (click)="setSelectedTema(tema.name)" *ngFor="let tema of global.temas"
                          class="btn btn-soft-primary text-nonecase btn-rounded start-conversation">
                          <span>
                              <span class="icon">
                                  <span class="feather-icon"><i data-feather="eye"></i></span>
                              </span>
                              <span class="btn-text" style="font-size: medium;">{{tema.name}}</span>
                          </span>
                      </button>

                  </div>

              </div>
              <ul class="list-unstyled d-none">
                  <li class="media sent">
                      <div class="media-body">
                          <div class="msg-box">
                              <div>
                                  <p><span style="font-weight: bold;">
                                          Tema:
                                      </span>
                                      {{global.selectedTema}}</p>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="media received">
                      <div class="avatar avatar-xs avatar-soft-primary avatar-icon avatar-rounded">
                          <span class="initial-wrap">
                              <i class="ri-customer-service-2-line"></i>
                          </span>
                      </div>
                      <div class="media-body">
                          <div class="msg-box">
                              <div>
                                  <p>Bienvenido!<br>Indiqueme por favor su requerimiento?</p>
                              </div>
                          </div>
                          <div class="msg-box typing-wrap">
                              <div>
                                  <div class="typing">
                                      <div class="dot"></div>
                                      <div class="dot"></div>
                                      <div class="dot"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <footer>
      <div class="chatbot-intro-text fs-7">
          <div class="separator-full separator-light"></div>
          <p class="mb-2">Selecciona un tema y abre un caso de soporte.
          </p>
      </div>
      <div class="input-group d-none">
          <div class="input-group-text overflow-show border-0">
              <button class="btn btn-icon btn-flush-dark flush-soft-hover btn-rounded dropdown-toggle no-caret"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="icon"><span class="feather-icon"><i data-feather="share"></i></span></span>
              </button>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">
                      <div class="d-flex align-items-center">
                          <div class="avatar avatar-icon avatar-xs avatar-soft-primary avatar-rounded me-3">
                              <span class="initial-wrap">
                                  <i class="ri-image-line"></i>
                              </span>
                          </div>
                          <div>
                              <span class="h6 mb-0">Photo or Video Library</span>
                          </div>
                      </div>
                  </a>
                  <a class="dropdown-item" href="#">
                      <div class="d-flex align-items-center">
                          <div class="avatar avatar-icon avatar-xs avatar-soft-info avatar-rounded me-3">
                              <span class="initial-wrap">
                                  <i class="ri-file-4-line"></i>
                              </span>
                          </div>
                          <div>
                              <span class="h6 mb-0">Documentos</span>
                          </div>
                      </div>
                  </a>
                  <a class="dropdown-item" href="#">
                      <div class="d-flex align-items-center">
                          <div class="avatar avatar-icon avatar-xs avatar-soft-success avatar-rounded me-3">
                              <span class="initial-wrap">
                                  <i class="ri-map-pin-line"></i>
                              </span>
                          </div>
                          <div>
                              <span class="h6 mb-0">Location</span>
                          </div>
                      </div>
                  </a>
                  <a class="dropdown-item" href="#">
                      <div class="d-flex align-items-center">
                          <div class="avatar avatar-icon avatar-xs avatar-soft-blue avatar-rounded me-3">
                              <span class="initial-wrap">
                                  <i class="ri-contacts-line"></i>
                              </span>
                          </div>
                          <div>
                              <span class="h6 mb-0">Contact</span>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
          <input type="text" id="input_msg_chat_popup" name="send-msg"
              class="input-msg-send form-control border-0 shadow-none" placeholder="Escribe aqui...">
          <div class="input-group-text overflow-show border-0">
              <button class="btn btn-icon btn-flush-dark flush-soft-hover btn-rounded">
                  <span class="icon"><span class="feather-icon"><i data-feather="smile"></i></span></span>
              </button>
          </div>
      </div>
      <div class="footer-copy-text">Desarrollado por <a class="brand-link" href="https://www.buckapi.com"><img
                  src="assets/jampack/dist/img/logo-light.png" alt="logo-brand"></a></div>
  </footer>
</div>
<a class="btn btn-icon btn-floating btn-primary btn-lg btn-rounded btn-popup-open" 
   (click)="toggleChat()">
   <span class="icon">
       <span class="feather-icon"><i data-feather="message-circle"></i></span>
   </span>
</a>
<div class="chat-popover shadow-xl">
  <p>Chatea con nosotros y recibe asesoramiento en cualquier tema de tu interés!</p>
</div> -->