<div class="hk-pg-wrapper pb-0">
    <!-- Page Body -->
    <div class="hk-pg-body py-0">
        <div class="fmapp-wrap" #infoDiv id="info">
            <nav class="fmapp-sidebar">
                <div data-simplebar class="nicescroll-bar">
                    <div class="menu-content-wrap">
                        <div class="menu-group">
                            <ul class="nav nav-light navbar-nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0);">
                                        <span class="nav-icon-wrap"><span class="feather-icon"><i
                                                    data-feather="upload"></i></span></span>
                                        <span class="nav-link-text">Subir Publicidad a VENDRICOM</span>
                                        </a>
                                </li>
                            </ul>
                        </div>

                        <form (ngSubmit)="submitForm()">
                            <div class="form-group">
                                <label for="asunto">Titulo:</label>
                                <input type="text" class="form-control" id="asunto" name="asunto"
                                    [(ngModel)]="formData.asunto" required>
                            </div>
                            <div class="form-group">
                                <label for="fechaEmision">Fecha :</label>
                                <input type="date" class="form-control" id="fechaEmision" name="fechaEmision"
                                    [(ngModel)]="formData.fechaEmision" required>
                            </div>
                            <div class="form-group">
                                <label for="whatsapp">Numero de Whatsapp:</label>
                                <input type="text" class="form-control" id="whatsapp"
                                    name="whatsapp" [(ngModel)]="formData.whatsapp" required>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">

                            </div>
                            <div class="form-group">
                                <label for="description">Breve descripción:</label>
                                <input type="text" class="form-control" id="description" name="description"
                                    [(ngModel)]="formData.description" required>
                            </div>
                        </form>

                        <div class="separator separator-light"></div>
                        <div class="menu-group">

                        </div>
                        <div class="btn btn-outline-primary btn-rounded btn-block btn-file mb-4">
                            Subir imagen
                            <input type="file" (change)="global.onFileChanged($event)">
                        </div>
                        <button class="btn btn-primary btn-rounded btn-block btn-file mb-4"
                            [hidden]="_butler.uploaderImages.length==0" (click)="submitForm()">Guardar</button>

                    </div>
                </div>

            </nav>
            <div class="fmapp-content">
                <div class="fmapp-detail-wrap">

                    <div class="fm-body">
                        <div data-simplebar class="nicescroll-bar">
                            <div class="file-card-view">
                                <div class="collapse-simple mt-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <a role="button" data-bs-toggle="collapse" href="#fm_collapse_1"
                                                aria-expanded="true">
                                                <h5 class="mb-0" style="color: white;">Publicidad recientes</h5>
                                            </a>
                                        </div>
                                        <div id="fm_collapse_1" class="collapse show">
                                            <div class="row gx-3 row-cols-xxl-4 row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-1 mt-3">
                                                <div class="col" *ngFor="let publicidad of global.filteredPublicidad"
                                                    (click)="setPreview(publicidad)">
                                                    <div class="card file-card card-border">
                                                        <div class="card-body fmapp-info-trigger">
                                                            <!-- <i class="svg-icon"></i> -->
                                                            <!-- <i class="ri-file-excel-2-fill text-blue" style="font-size: 120px;"></i> -->
                                                        </div>
                                                        <div class="card-footer">
                                                            <div
                                                                class="d-flex justify-content-between align-items-start">
                                                                <div>
                                                                    <div class="file-name">{{publicidad.subject}}</div>
                                                                    <div class="text-truncate fs-8 mb-2">
                                                                        {{publicidad.receiver}}</div>
                                                                </div>
                                                                <div class="d-flex">

                                                                    <a class="btn btn-xs btn-icon btn-flush-dark btn-rounded flush-soft-hover flex-shrink-0"
                                                                        href="#" data-bs-toggle="dropdown" role="button"
                                                                        aria-haspopup="true" aria-expanded="false"><span
                                                                            class="icon"><span class="feather-icon"><i
                                                                                    data-feather="more-horizontal"></i></span></span></a>
                                                                    <div class="dropdown-menu">

                                                                        <a class="dropdown-item" href="#"><span
                                                                                class="feather-icon dropdown-icon"><i
                                                                                    data-feather="link-2"></i></span><span>Compartir
                                                                                Link</span></a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item" href="#"><span
                                                                                class="feather-icon dropdown-icon"><i
                                                                                    data-feather="info"></i></span><span>Ver
                                                                            </span></a>
                                                                        <a class="dropdown-item" href="#"><span
                                                                                class="feather-icon dropdown-icon"><i
                                                                                    data-feather="download"></i></span><span>Download</span></a>
                                                                        <a class="dropdown-item" href="#"><span
                                                                                class="feather-icon dropdown-icon"><i
                                                                                    data-feather="trash-2"></i></span><span>Borrar</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p class="text-truncate p-xs">Fecha de expedición:
                                                                {{publicidad.issue}}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="file-info">
                        <div data-simplebar class="nicescroll-bar">
                            <button type="button" class="info-close btn-close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <a class="btn btn-xs btn-icon btn-rounded btn-light pull-right" (click)="close()"><span
                                    class="feather-icon">
                                    x
                                </span></a>
                            <div class="file-name">{{docummentSelected.subject}}</div>
                            <span></span>
                            <!-- <img src="assets/jampack/dist/img/gallery/mock2.jpg" alt="user"
                                class="d-block img-fluid my-4 w-250p"> -->
                            <div class="card-body fmapp-info-trigger">
                                <i class="svg-icon"></i>
                                <!-- <i class="ri-file-excel-2-fill text-blue" style="font-size: 200px;"></i> -->
                            </div>
                            <ul class="nav nav-justified nav-light nav-tabs nav-segmented-tabs active-theme mt-5">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_info">
                                        <span class="nav-link-text">Detalles</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content mt-5">
                                <div class="tab-pane fade show active" id="tab_info">
                                    <div class="collapse-simple">
                                        <div class="card">
                                          
                                            <div id="fl_info" class="collapse show">
                                                <div class="card-body">
                                                    <ul class="fm-info">
                                                        <li>
                                                            <span>Enlace</span>
                                                            <span>
                                                                <a href="{{docummentSelected.files[0]}}" target="_blank"
                                                                    style="color: blue; cursor: pointer;"> abrir</a>
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>Asunto</span>
                                                            <span>{{docummentSelected.subject}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Fecha de expedicion</span>
                                                            <span>{{docummentSelected.issue}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a role="button" data-bs-toggle="collapse" href="#shared_with"
                                                    aria-expanded="true">Compartir con </a>
                                            </div>
                                            <div id="shared_with" class="collapse show">
                                                <div class="card-body">
                                                    <ul class="hk-list">
                                                        <li>
                                                            <div
                                                                class="avatar avatar-sm avatar-primary position-relative avatar-rounded">
                                                                <img src="assets/jampack/dist/img/avatar9.jpg"
                                                                    alt="user" class="avatar-img">
                                                                <div
                                                                    class="badge-icon badge-circle text-blue badge-icon-xxs position-bottom-end-overflow-1">
                                                                    <div class="badge-icon-wrap">
                                                                        <i class="ri-upload-2-fill"></i>
                                                                    </div>
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 127 127">
                                                                        <g data-name="Ellipse 302"
                                                                            transform="translate(8 8)" stroke-width="3">
                                                                            <circle cx="55.5" cy="55.5" r="55.5"
                                                                                stroke="currentColor"></circle>
                                                                            <circle cx="55.5" cy="55.5" r="59.5"
                                                                                fill="currentColor"></circle>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="avatar avatar-sm  avatar-rounded">
                                                                <img src="assets/jampack/dist/img/avatar10.jpg"
                                                                    alt="user" class="avatar-img">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="avatar avatar-sm avatar-soft-danger avatar-rounded"
                                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="" data-bs-original-title="Winston">
                                                                <span class="initial-wrap">W</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>