<div class="hk-pg-wrapper pb-0">
    <!-- Page Body -->
    <div class="hk-pg-body py-0">
        <div class="fmapp-wrap" #infoDiv id="info">
            <nav class="fmapp-sidebar">
                <div data-simplebar class="nicescroll-bar">
                    <div class="menu-content-wrap">
                        <div class="menu-group">
                            <ul class="nav nav-light navbar-nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0);">
                                        <span class="nav-icon-wrap"><span class="feather-icon"><i
                                                    data-feather="upload"></i></span></span>
                                        <span class="nav-link-text">Subir Publicidad a VENDRICOM</span>
                                        </a>
                                </li>
                            </ul>
                        </div>

                        <form (ngSubmit)="submitForm()" *ngIf="!isEditMode">
                            <div class="form-group">
                                <label for="asunto">Titulo:</label>
                                <input type="text" class="form-control" id="asunto" name="asunto"
                                    [(ngModel)]="formData.asunto" required>
                            </div>
                            <div class="form-group">
                                <label for="fechaEmision">Fecha :</label>
                                <input type="date" class="form-control" id="fechaEmision" name="fechaEmision"
                                    [(ngModel)]="formData.fechaEmision" required>
                            </div>
                            <div class="form-group">
                                <label for="whatsapp">Numero de Whatsapp:</label>
                                <input type="text" class="form-control" id="whatsapp"
                                    name="whatsapp" [(ngModel)]="formData.whatsapp" required>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">

                            </div>
                            <div class="form-group">
                                <label for="description">Breve descripción:</label>
                                <input type="text" class="form-control" id="description" name="description"
                                    [(ngModel)]="formData.description" required>
                            </div>
                        </form>
                        <form (ngSubmit)="updatePublicidad(formData)" *ngIf="isEditMode"> 
                            <h4 *ngIf="isEditMode">Editar Documento</h4>

                            <div class="form-group">
                                <label for="asunto">TITULO:</label>
                                <input type="text" class="form-control" id="asunto" name="asunto"
                                    [(ngModel)]="formData.subject" required>
                            </div>

                            <div class="form-group">
                                <label for="fechaEmision">FECHA DE EMISION:</label>
                                <input type="date" class="form-control" id="fechaEmision" name="fechaEmision"
                                    [(ngModel)]="formData.issue" required>
                            </div><div class="form-group">
                                <label for="whatsapp">Numero de Whatsapp:</label>
                                <input type="text" class="form-control" id="whatsapp"
                                    name="whatsapp" [(ngModel)]="formData.whatsapp" required>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">

                            </div>
                            <div class="form-group">
                                <label for="description">Breve descripción:</label>
                                <input type="text" class="form-control" id="description" name="description"
                                    [(ngModel)]="formData.description" required>
                            </div>
                            

                            <button type="submit" class="btn btn-primary">
                                {{ isEditMode ? 'Actualizar' : 'Guardar' }}
                            </button>

                            <button type="button" class="btn btn-secondary" (click)="resetForm()"
                                *ngIf="isEditMode">Cancelar</button>
                        </form>


                        <div class="separator separator-light"></div>
                        <div class="menu-group">

                        </div>
                        <div class="btn btn-outline-primary btn-rounded btn-block btn-file mb-4">
                            Subir imagen
                            <input type="file" (change)="global.onFileChanged($event)">
                        </div>
                        <button class="btn btn-primary btn-rounded btn-block btn-file mb-4"
                            [hidden]="_butler.uploaderImages.length==0" (click)="submitForm()">Guardar</button>

                    </div>
                </div>

            </nav>
            <div class="fmapp-content">
                <div class="fmapp-detail-wrap">

                    <div class="fm-body">
                        <div class="row row-cols-xxl-3 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-1 mt-4">
                        
                            <div class="col-3" *ngFor="let publicidad of global.filteredPublicidad" (click)="setPreview(publicidad)" >
                                <div class="card  card-border fmapp-info-toggle"
                                    style="border-radius: 10px; background: #582e6d;">

                                    <div class="card-body ">
                                        <div class="d-flex justify-content-between align-items-start">
                                            <div>
                                                <div class="file-name"
                                                    style="font-size: 20px; font-weight: bold; color: #d8d8d8;">
                                                    <strong>Titulo:</strong> {{ publicidad.subject | slice:0:15 }}{{
                                                    publicidad.subject.length > 15 ? '...' : '' }}
                                                </div>
                                                <div class="text-truncate fs-8 mb-2">
                                                    <strong> N° de Ley:</strong> {{publicidad.serial }}</div>
                                                <div class="text-truncate fs-8 mb-2">
                                                        <strong> F.E:</strong> {{publicidad.issue }}</div>
                                            </div>
                                            <div class="d-flex">
                                                <a class="menu-btn-gradient btn btn-xs btn-icon btn-rounded flex-shrink-0"
                                                    data-bs-toggle="dropdown" role="button"
                                                    aria-haspopup="true" aria-expanded="false"
                                                    (click)="$event.stopPropagation()">
                                                    <span class="icon">
                                                        <span class="feather-icon"><i class="fa fa-ellipsis-v"></i></span>
                                                    </span>
                                                </a>

                                                <div class="dropdown-menu" (click)="$event.stopPropagation()">
                                                    <a class="dropdown-item" (click)="editPublicidad(publicidad)"> <!-- Call editNormativa instead -->
                                                        <span class="feather-icon dropdown-icon">
                                                            <i class="fa fa-edit"></i>
                                                        </span>
                                                        Editar
                                                    </a>
                                                    <a class="dropdown-item" (click)="deletePublicidad(publicidad)">
                                                        <span class="feather-icon dropdown-icon">
                                                            <i class="fa fa-trash"></i>
                                                        </span>
                                                        Borrar
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="file-info">
                        <div data-simplebar class="nicescroll-bar">
                            <button type="button" class="info-close btn-close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <a class="btn btn-xs btn-icon btn-rounded btn-light pull-right" (click)="close()"><span
                                    class="feather-icon">
                                    x
                                </span></a>
                            <div class="file-name">{{docummentSelected.subject}}</div>
                            <span></span>
                            <div class="card-body fmapp-info-trigger">
                                <i class="svg-icon"></i>
                            </div>
                            <ul class="nav nav-justified nav-light nav-tabs nav-segmented-tabs active-theme mt-5">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_info">
                                        <span class="nav-link-text">Detalles</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content mt-5">
                                <div class="tab-pane fade show active" id="tab_info">
                                    <div class="collapse-simple">
                                        <div class="card">
                                          
                                            <div id="fl_info" class="collapse show">
                                                <div class="card-body">
                                                    <ul class="fm-info">
                                                        <li>
                                                            <span>Enlace</span>
                                                            <span>
                                                                <a href="{{docummentSelected.files[0]}}" target="_blank"
                                                                    style="color: blue; cursor: pointer;"> abrir</a>
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>Asunto</span>
                                                            <span>{{docummentSelected.subject}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Fecha de expedicion</span>
                                                            <span>{{docummentSelected.issue}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>