<div class="hk-pg-wrapper pb-0">
    <!-- Page Body -->
    <div class="hk-pg-body py-0">
        <div class="fmapp-wrap" #infoDiv id="info">
            <nav class="fmapp-sidebar">
                <div data-simplebar class="nicescroll-bar">
                    <div class="menu-content-wrap">
                        <div class="menu-group" *ngIf="!isEditMode">
                            <ul class="nav nav-light navbar-nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0);">

                                        <span class="nav-link-text">Agregar documento a VENDRICOM</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <form (ngSubmit)="submitForm()" *ngIf="!isEditMode">
                            <div class="form-group">
                                <label for="asunto">Asunto:</label>
                                <input type="text" class="form-control" id="asunto" name="asunto"
                                    [(ngModel)]="formData.asunto" required>
                            </div>
                            <div class="form-group">
                                <label for="fechaEmision">Fecha de Emisión:</label>
                                <input type="date" class="form-control" id="fechaEmision" name="fechaEmision"
                                    [(ngModel)]="formData.fechaEmision" required>
                            </div>
                            <div class="form-group">
                                <label for="entidadRegulatoria">Entidad Regulatoria:</label>
                                <input type="text" class="form-control" id="entidadRegulatoria"
                                    name="entidadRegulatoria" [(ngModel)]="formData.entidadRegulatoria" required>
                            </div>
                            <div class="form-group">
                                <label for="nombreReceptor">Nombre de la Persona Receptora:</label>
                                <input type="text" class="form-control" id="nombreReceptor" name="nombreReceptor"
                                    [(ngModel)]="formData.nombreReceptor" required>
                            </div>
                            <div class="form-group">
                                <label for="serial">Serial:</label>
                                <input type="text" class="form-control" id="serial" name="serial"
                                    [(ngModel)]="formData.serial" required>
                            </div>
                            <div class="form-group">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label for="nombreReceptor">Categoría:</label>
                                    <a (click)="open('categoria')" style="cursor: pointer;"
                                        class="btn btn-xs btn-icon btn-rounded btn-light" data-bs-toggle="modal"
                                        data-bs-target="#add_fav_board"><span class="icon" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="" data-bs-original-title="Add Board"><span
                                                class="feather-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg></span></span></a>
                                </div>
                                <ng-multiselect-dropdown [ngModelOptions]="{standalone: true}" name="categories"
                                    [(ngModel)]="data.categories" [placeholder]="'Selecciona una'"
                                    [data]="global.categories" [disabled]="false"
                                    [ngClass]="{'border-class': true, 'background-class': true}"
                                    [settings]="dropdownSettings" (ngModelChange)="onCategoryChange($event)">

                                </ng-multiselect-dropdown>

                            </div>
                            <div class="form-group">
                                <div class="d-flex align-items-center justify-content-between mb-2"
                                    [hidden]="!global.repositorioSelected">
                                    <label for="nombreReceptor">Repositorio:</label>

                                    <a (click)="open('repositorio')" style="cursor: pointer;"
                                        class="btn btn-xs btn-icon btn-rounded btn-light" data-bs-toggle="modal"
                                        data-bs-target="#add_fav_board"><span class="icon" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="" data-bs-original-title="Add Board"><span
                                                class="feather-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg></span></span></a>
                                </div>
                                <ng-multiselect-dropdown [ngModelOptions]="{standalone: true}" name="repositorios"
                                    [placeholder]="'Seleccione un repositorio'" [data]="global.filteredRepositorios"
                                    [(ngModel)]="data.repositorios" [disabled]="false" [settings]="dropdownSettings">
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="form-group">
                                <div class="d-flex align-items-center justify-content-between mb-2"
                                    [hidden]="!global.temaSelected">
                                    <label for="nombreReceptor">Tema:</label>
                                    <a (click)="open('tema')" style="cursor: pointer;"
                                        class="btn btn-xs btn-icon btn-rounded btn-light" data-bs-toggle="modal"
                                        data-bs-target="#add_fav_board"><span class="icon" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="" data-bs-original-title="Add Board"><span
                                                class="feather-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-plus">
                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg></span></span></a>
                                </div>

                                <ng-multiselect-dropdown [ngModelOptions]="{standalone: true}" name="temas"
                                    [placeholder]="'Seleccione un tema'" [data]="global.filteredTemas"
                                    [(ngModel)]="data.temas" [disabled]="false" [settings]="dropdownSettings">
                                </ng-multiselect-dropdown>

                            </div>

                        </form>
                        <form (ngSubmit)="updateDocument()" *ngIf="isEditMode">
                            <h4 *ngIf="isEditMode">Editar Documento</h4>
                            <h4 *ngIf="!isEditMode">Agregar Documento a VENDRICOM</h4>

                            <div class="form-group">
                                <label for="asunto">Asunto:</label>
                                <input type="text" class="form-control" id="asunto" name="asunto"
                                    [(ngModel)]="formData.subject" required>
                            </div>

                            <div class="form-group">
                                <label for="fechaEmision">Fecha de Emisión:</label>
                                <input type="date" class="form-control" id="fechaEmision" name="fechaEmision"
                                    [(ngModel)]="formData.issue" required>
                            </div>

                            <div class="form-group">
                                <label for="entidadRegulatoria">Entidad Regulatoria:</label>
                                <input type="text" class="form-control" id="entidadRegulatoria"
                                    name="entidadRegulatoria" [(ngModel)]="formData.entity" required>
                            </div>
                            <div class="form-group">
                                <label for="nombreReceptor">Nombre de la Persona Receptora:</label>
                                <input type="text" class="form-control" id="nombreReceptor" name="nombreReceptor"
                                    [(ngModel)]="formData.receiver" required>
                            </div>
                            <div class="form-group">
                                <label for="serial">Serial:</label>
                                <input type="text" class="form-control" id="serial" name="serial"
                                    [(ngModel)]="formData.serial" required>
                            </div>
                            <!--  <div class="form-group">
                                <label for="repositorioActual">Repositorio Actual:</label>
                                <input type="text" class="form-control" id="repositorioActual" name="repositorioActual"
                                    [(ngModel)]="formData.repositorios.name" readonly>
                            </div>

                            <div class="form-group">
                                <label for="repositorioSelect">Cambiar Repositorio:</label>
                                <select
                                  id="repositorioSelect"
                                  class="form-control"
                                  [(ngModel)]="formData.repositorios"
                                  [value]="formData.repositorios"
                                  required
                                >
                                  <option *ngFor="let repo of global.filteredRepositorios" [value]="repo.id">
                                    {{ repo.name }}
                                  </option>
                                </select>
                              </div> -->

                            <button type="submit" class="btn btn-primary">
                                {{ isEditMode ? 'Actualizar' : 'Guardar' }}
                            </button>

                            <button type="button" class="btn btn-secondary" (click)="resetForm()"
                                *ngIf="isEditMode">Cancelar</button>
                        </form>
                        <div class="separator separator-light"></div>
                        <div class="menu-group">
                        </div>
                        <div class="btn btn-outline-primary btn-rounded btn-block btn-file mb-4">
                            Subir documento
                            <input type="file" (change)="global.onFileChanged($event)">
                        </div>
                        <button class="btn btn-primary btn-rounded btn-block btn-file mb-4"
                            [hidden]="_butler.uploaderImages.length==0" (click)="submitForm()"> <span
                                class="nav-icon-wrap"><span class="feather-icon"><i
                                        data-feather="upload"></i></span></span> Guardar</button>
                    </div>
                </div>
            </nav>
            <div class="fmapp-content">
                
                <div class="fmapp-detail-wrap">
                    <h2 class="text-center mb-4" *ngIf="!showDocuments">Documentos Organizados por Repositorios</h2>
                    <h2 class="text-center mb-4" *ngIf="showDocuments">Documentos pertenecientes al Repositorio
                        seleccionado</h2>


                    <header class="fm-header" *ngIf="showDocuments" style="background: rgba(233, 41, 144, 0.15);">

                        <div class="d-flex align-items-center flex-grow-1">
                            <a class="fmapp-title dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <h1>{{ global.selectedTema ? global.selectedTema.name : 'Todos los temas' }}</h1>                            </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" (click)="global.verTodosTemas()">
                                        <span class="feather-icon dropdown-icon"><i data-feather="eye"></i></span>
                                        <span>Ver Todos</span>
                                    </a>
                                    <a class="dropdown-item" *ngFor="let tema of global.temas" (click)="global.selectTema(tema)">
                                        <span class="feather-icon dropdown-icon"><i data-feather="file"></i></span>
                                        <span>{{ tema.name }} </span>
                                    </a>
                                </div>
                            <form class="mx-3 flex-grow-1 mw-400p" role="search" (submit)="global.searchDocuments($event)">
                                <input type="text" class="form-control" placeholder="Buscar entre los documentos" [(ngModel)]="global.searchQuery" (ngModelChange)="global.applyFilters()" name="searchQuery">

                            </form>
                        </div>
                        
                        <div class="d-flex align-items-center flex-grow-1">
                            <a class="fmapp-title dropdown-toggle link-dark" data-bs-toggle="dropdown" 
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <h1>{{ global.selectedYear ? global.selectedYear : 'Todos los años' }}</h1>
                            </a>
                            <div class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
                                <a class="dropdown-item" (click)="global.verTodosAnos()">
                                    <span class="feather-icon dropdown-icon"><i data-feather="eye"></i></span>
                                    <span>Ver Todos</span>
                                </a>
                                <a class="dropdown-item" *ngFor="let year of years" (click)="global.selectYear(year)">
                                    <span class="feather-icon dropdown-icon"><i data-feather="file"></i></span>
                                    <span>{{ year }}</span>
                                </a>
                            </div>
                        </div>
                        
                        <div class="fm-options-wrap" *ngIf="showDocuments" style="text-align: right;">
                            <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover" (click)="global.verTodos()">
                                <span class="icon">
                                    <i class="fa fa-refresh"></i> 
                                </span>
                            </a>
                            <!-- Botón de flecha izquierda -->
                           
                            <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover"
                                (click)="showDocuments = false" >
                                <span class="icon">
                                    <i class="fa fa-arrow-left"></i>
                                </span>
                            </a>
    
                            <!-- Botón de colapso (solo visible en pantallas grandes) -->
                            <a class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover hk-navbar-togglable d-lg-inline-block d-none"
                                href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse">
                                <span class="icon">
                                    <i class="fa fa-chevron-up"></i>
                                    <i class="d-none" data-feather="chevron-down"></i>
                                </span>
                            </a>
                        </div>
                        <div class="hk-sidebar-togglable"></div>
                    </header>
                    <header *ngIf="!showDocuments">
                        <div class="hk-sidebar-togglable"></div>
                    </header>

                    
                    <div class="fm-body">
                        <div data-simplebar class="nicescroll-bar">
                            <div class="row row-cols-xxl-3 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-1 mt-4"
                                [hidden]="showDocuments">
                                <div class="col" *ngFor="let repositorio of global.repositorios; let i = index">
                                    <div class="card card-border contact-card"
                                        style="  border-radius: 10px 30px; background: #d8d8d8;"
                                        (click)="viewRepositorio(repositorio)">
                                        <div class="card-body text-center">

                                            <div class="avatar avatar-xl avatar-rounded">
                                            </div>
                                            <div class="user-name"><span class="contact-star"><span
                                                        class="feather-icon"><i class="fa fa-file"></i></span></span>
                                            </div>
                                            <div class="user-email" (click)="viewRepositorio(repositorio)"
                                                style="cursor: pointer;">{{repositorio.name}}
                                            </div>
                                            <span class="fs-7 lh-1" (click)="viewRepositorio(repositorio)"
                                                style="cursor: pointer;">
                                                <i class="fa fa-eye"></i>
                                                Ver Documentos
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="collapse-simple mt-4" [hidden]="!showDocuments">
                                <div class="card">
                                    <div id="fm_collapse_1" class="collapse show">
                                        <div
                                            class="row row-cols-xxl-3 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-1 mt-4">
                                            <div class="col-3" *ngFor="let document of global.filteredDocuments"
                                                (click)="setPreview(document)">
                                                <div class="card  card-border fmapp-info-toggle"
                                                    style="border-radius: 10px; background: #582e6d;">
                                                    <div class="card-body ">
                                                        <div class="d-flex justify-content-between align-items-start">
                                                            <div>
                                                                <div class="file-name"
                                                                    style="font-size: 20px; font-weight: bold; color: #d8d8d8;">
                                                                    Asunto: {{ document.subject | slice:0:15 }}{{
                                                                    document.subject.length > 15 ? '...' : '' }}
                                                                </div>
                                                                <div class="text-truncate fs-8 mb-2">
                                                                    Receptor: {{document.receiver | slice:0:20 }}{{
                                                                    document.receiver.length > 20 ? '...' : '' }}</div>
                                                                <div class="text-truncate fs-8 mb-2">
                                                                    Entidad: {{document.entity }}</div>
                                                                <p class="text-truncate p-xs">F.E:
                                                                    {{document.issue}}</p>
                                                            </div>
                                                            <div class="d-flex">
                                                                <!-- Botón del Menú -->
                                                                <a class="menu-btn-gradient btn btn-xs btn-icon btn-rounded flex-shrink-0"
                                                                    data-bs-toggle="dropdown" role="button"
                                                                    aria-haspopup="true" aria-expanded="false"
                                                                    (click)="$event.stopPropagation()">
                                                                    <span class="icon">
                                                                        <span class="feather-icon"><i class="fa fa-ellipsis-v"></i></span>
                                                                    </span>
                                                                </a>

                                                                <!-- Menú Desplegable -->
                                                                <div class="dropdown-menu"
                                                                    (click)="$event.stopPropagation()">
                                                                    <a class="dropdown-item"
                                                                        (click)="editDocument(document)">
                                                                        <span class="feather-icon dropdown-icon">
                                                                            <i class="fa fa-edit"></i></span>
                                                                        Editar
                                                                    </a>
                                                                    <a class="dropdown-item"
                                                                        (click)="deleteDocuments(document)">
                                                                        <span class="feather-icon dropdown-icon">
                                                                            <i class="fa fa-trash"></i></span>
                                                                        Borrar
                                                                    </a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="file-info">
                        <div data-simplebar class="nicescroll-bar">
                            <button type="button" class="info-close btn-close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <a class="btn btn-xs btn-icon btn-rounded btn-light pull-right" (click)="close()"><span
                                    class="feather-icon">
                                    x
                                </span></a>
                            <div class="file-name">{{docummentSelected.subject}}</div>
                            <span></span>
                            <div class="card-body fmapp-info-trigger">
                                <i class="svg-icon"></i>
                            </div>
                            <ul class="nav nav-justified nav-light nav-tabs nav-segmented-tabs active-theme mt-5">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_info">
                                        <span class="nav-link-text">Detalles</span>
                                    </a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#tab_activity">
                                        <span class="nav-link-text">Actividad</span>
                                    </a>
                                </li> -->
                            </ul>
                            <div class="tab-content mt-5">
                                <div class="tab-pane fade show active" id="tab_info">
                                    <div class="collapse-simple">
                                        <div class="card">
                                            <!-- <div class="card-header">
                                                <a role="button" data-bs-toggle="collapse" href="#fl_info"
                                                    aria-expanded="true">Detalles</a>
                                            </div> -->
                                            <div id="fl_info" class="collapse show">
                                                <div class="card-body">
                                                    <ul class="fm-info">
                                                        <li>
                                                            <span>Asunto</span>
                                                            <span>{{docummentSelected.subject}}</span>
                                                        </li>

                                                        <li>
                                                            <span>Serial</span>
                                                            <span>{{docummentSelected.serial}}</span>
                                                        </li>

                                                        <li>
                                                            <span>Entidad Emisora</span>
                                                            <span>{{docummentSelected.entity}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Fecha de expedicion</span>
                                                            <span>{{docummentSelected.issue}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Persona receptora</span>
                                                            <span>{{docummentSelected.receiver}}</span>
                                                        </li>
                                                        <li>
                                                            <span>Enlace</span>
                                                            <span>
                                                                <a href="{{docummentSelected.files[0]}}" target="_blank"
                                                                    style="color: blue; cursor: pointer;"> abrir</a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="card">
                                            <div class="card-header">
                                                <a role="button" data-bs-toggle="collapse" href="#shared_with"
                                                    aria-expanded="true">Compartir con </a>
                                            </div>
                                            <div id="shared_with" class="collapse show">
                                                <div class="card-body">
                                                    <ul class="hk-list">
                                                        <li>
                                                            <div
                                                                class="avatar avatar-sm avatar-primary position-relative avatar-rounded">
                                                                <img src="assets/jampack/dist/img/avatar9.jpg"
                                                                    alt="user" class="avatar-img">
                                                                <div
                                                                    class="badge-icon badge-circle text-blue badge-icon-xxs position-bottom-end-overflow-1">
                                                                    <div class="badge-icon-wrap">
                                                                        <i class="ri-upload-2-fill"></i>
                                                                    </div>
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 127 127">
                                                                        <g data-name="Ellipse 302"
                                                                            transform="translate(8 8)" stroke-width="3">
                                                                            <circle cx="55.5" cy="55.5" r="55.5"
                                                                                stroke="currentColor"></circle>
                                                                            <circle cx="55.5" cy="55.5" r="59.5"
                                                                                fill="currentColor"></circle>
                                                                        </g>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="avatar avatar-sm  avatar-rounded">
                                                                <img src="assets/jampack/dist/img/avatar10.jpg"
                                                                    alt="user" class="avatar-img">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="avatar avatar-sm avatar-soft-danger avatar-rounded"
                                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                                title="" data-bs-original-title="Winston">
                                                                <span class="initial-wrap">W</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> -->

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>