<div class="hk-pg-wrapper">
	<div class="container-xxl">
		<!-- Page Header -->
		<div class="hk-pg-header pg-header-wth-tab pt-7">
			<div class="d-flex">
				<div class="d-flex flex-wrap justify-content-between flex-1">
					<div class="mb-lg-0 mb-2 me-8">
						<h1 class="pg-title">Bienvenidos a VENDRICOM</h1>
						<p>Biblioteca digital de Documentos</p>
					</div>
					<div class="pg-header-action-wrap">
						<div class="input-group w-300p">
							<span class="input-affix-wrapper">
								<span class="input-prefix"><span class="feather-icon"><i data-feather="calendar"></i></span></span>
								<input class="form-control form-wth-icon" name="datetimes" [(ngModel)]="dateRange">
							</span>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<!-- Page Body -->
		<div class="hk-pg-body">
			<div class="tab-content">
				<div class="tab-pane fade show active" id="tab_block_1">
					<div class="row">
							<div class="col-xxl-12 col-lg-12 col-md-12 mb-md-4 mb-3">
							<div class="card card-border mb-0 h-100">
								<div class="card-header card-header-action">
									<h6>Entidades del sistema</h6>
								</div>
								<div class="card-body">
								
									<div id="column_chart_2"></div>
									<!-- <div class="separator-full mt-5"></div> -->
									<div class="flex-grow-1 ms-lg-3">
										<div class="row g-0 gap-3"> <!-- gap-3 agrega espacio entre columnas -->
											<div class="col-xxl-2 col-lg-2 col-sm-6 mb-xxl-0 mb-4 items">
												<div class="d-flex align-items-center" style="cursor: pointer;" (click)="virtualRoute.setRoute('contacts')">
													<!-- Ícono de Bootstrap -->
													<img src="assets/jampack/dist/img/contacts.png" alt="Documentos" class="boton"> 
													<!-- Texto de Libreta de Contactos -->
													<span class="d-block fw-medium fs-7">Libreta de Contactos</span>
												</div>
												<div class="d-flex align-items-center">
													<span class="d-block fs-4 fw-medium text-dark mb-0">Total: </span>

													<span class="badge badge-sm badge-soft-success ms-1"><i class="fa fa-phone"></i> {{totalItems}}</span>
													
												</div>
											</div>
											<div class="col-xxl-2 col-lg-2 col-sm-6 mb-xxl-0 mb-4 items">
												<span class="d-flex align-items-center fw-medium fs-7" (click)="virtualRoute.setRoute('file-manager')" style="cursor: pointer;">
													<!-- Imagen al lado de 'Documentos' -->
													<img src="assets/jampack/dist/img/doc.png" alt="Documentos" class="boton"> 
													Documentos
												</span>
												<div class="d-flex align-items-center">
													<span class="d-block fs-4 fw-medium text-dark mb-0">Total: </span>
													<span class="badge badge-sm badge-soft-success ms-1">
													<i class="fa fa-file"></i> {{totalDocuments}}
													</span>
												</div>
												</div>                                                   
											<div class="col-xxl-2 col-lg-2 col-sm-6 mb-xxl-0 mb-4 items">
												<div class="d-flex align-items-center" style="cursor: pointer;" (click)="virtualRoute.setRoute('normativas')">
													<img src="assets/jampack/dist/img/doc1.png" alt="Documentos" class="boton"> 
													<span class="d-block fw-medium fs-7">Normativas</span>
												</div>
												<div class="d-flex align-items-center">
													<span class="d-block fs-4 fw-medium text-dark mb-0">Total: </span>
													<span class="badge badge-sm badge-soft-success ms-1">
													<i class="fa fa-file"></i> {{totalNormativas}}
													</span>
												</div>
											</div>
											<div class="col-xxl-2 col-lg-2 col-sm-6 mb-xxl-0 mb-4 items">
												<div class="d-flex align-items-center" style="cursor: pointer;" (click)="virtualRoute.setRoute('modelos')">
													<img src="assets/jampack/dist/img/modelos.png" alt="Documentos" class="boton"> 
													<span class="d-block fw-medium fs-7">Modelos</span>
												</div>
												<div class="d-flex align-items-center">
													<span class="d-block fs-4 fw-medium text-dark mb-0">Total: </span>
													<span class="badge badge-sm badge-soft-success ms-1">
													<i class="fa fa-file"></i> {{totalModelos}}
													</span>
												</div>
											</div>
											<div class="col-xxl-2 col-lg-2 col-sm-6 mb-xxl-0 mb-4 items">
												<div class="d-flex align-items-center" style="cursor: pointer;" (click)="virtualRoute.setRoute('jurisprudencia')">
													<img src="assets/jampack/dist/img/jurispru.png" alt="Documentos" class="boton"> 
													<span class="d-block fw-medium fs-7">Jurisprudencias</span>
												</div>
												<div class="d-flex align-items-center">
													<span class="d-block fs-4 fw-medium text-dark mb-0">Total: </span>
													<span class="badge badge-sm badge-soft-success ms-1">
													<i class="fa fa-file"></i> {{totalJurisprudencias}}
													</span>
												</div>
											</div>
											<div class="col-xxl-2 col-lg-2 col-sm-6 mb-xxl-0 mb-4 items">
												<div class="d-flex align-items-center" style="cursor: pointer;" (click)="virtualRoute.setRoute('boletines')">
													<img src="assets/jampack/dist/img/clip.png" alt="Documentos" class="boton"> 
													<span class="d-block fw-medium fs-7">Boletines</span>
												</div>
												<div class="d-flex align-items-center">
													<span class="d-block fs-4 fw-medium text-dark mb-0">Total: </span>
													<span class="badge badge-sm badge-soft-success ms-1">
													<i class="fa fa-file"></i> {{totalBoletines}}
													</span>
												</div>
											</div>
											<div class="col-xxl-2 col-lg-2 col-sm-6 mb-xxl-0 mb-4 items">
												<div class="d-flex align-items-center" style="cursor: pointer;" (click)="virtualRoute.setRoute('publicity')">
													<img src="assets/jampack/dist/img/publicity.png" alt="Documentos" class="boton"> 
													<span class="d-block fw-medium fs-7">Publicidad</span>
												</div>
												<div class="d-flex align-items-center">
													<span class="d-block fs-4 fw-medium text-dark mb-0">Total: </span>
													<span class="badge badge-sm badge-soft-success ms-1">
													<i class="fa fa-file"></i> {{totalPublicidad}}
													</span>
												</div>
											</div>
										</div>	
									</div>
								</div>
							</div>
						</div> 
					</div>	
				</div>
			</div>
		</div>
		<!-- /Page Body -->		
	</div>
	
	<!-- Page Footer -->
	<div class="hk-footer">
		<footer class="container-xxl footer">
			<div class="row">
				<div class="col-xl-8">
					<p class="footer-text">
						<span class="copy-text">VENDRICOM © 2024-2025 Todos los derechos reservados.</span>
						<a (click)="openModal('terminos')" style="cursor: pointer;">Términos y Condiciones</a>
						<app-modal *ngIf="modalVisible" [modalType]="modalType" (close)="closeModal()"></app-modal>
						<span class="footer-link-sep">| </span>Desarrollado por <a href="https://www.buckapi.com" target="_blank">Buckapi</a>
					</p>
					</div>
					
				<div class="col-xl-4">
					<a href="index.html#" class="footer-extr-link link-default"><span class="feather-icon"><i data-feather="external-link"></i></span><u>Chat de soporte</u></a>
				</div>
			</div>
		</footer>
	</div>
</div>