  <!-- Vertical Nav -->
  <div class="hk-menu">
    <!-- Brand -->
    <div class="menu-header">
        <span>
            <a class="navbar-brand" (click)="virtualRouter.setRoute('home')">
                <!-- <img class="brand-img img-fluid" src="assets/jampack/dist/img/brand-sm.png" alt="brand" /> -->
                <img class="brand-img img-fluid" src="assets/jampack/dist/img/Jampack.png" alt="brand" />
            </a>
            <button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle" style="color: #fff;">
                <span class="icon">
                    <span class="svg-icon fs-5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-to-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="10" y1="12" x2="20" y2="12"></line>
                            <line x1="10" y1="12" x2="14" y2="16"></line>
                            <line x1="10" y1="12" x2="14" y2="8"></line>
                            <line x1="4" y1="4" x2="4" y2="20"></line>
                        </svg>
                    </span>
                </span>
            </button>
        </span>
    </div>
    <!-- /Brand -->

    <!-- Main Menu -->
    <div data-simplebar class="nicescroll-bar">
        <div class="menu-content-wrap">
            <div class="menu-group">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('home')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                                        <path d="M9 15l2 2l4 -4" />
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/home.png" style="width: 34px; height: 34px;">
                                   
                                </span>
                            </span>
                            <span class="nav-link-text">Inicio</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('file-manager')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                                        <path d="M9 15l2 2l4 -4" />
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/doc1.png" style="width: 34px; height: 34px;">
                                   
                                </span>
                            </span>
                            <span class="nav-link-text">Documentos</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('home')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg" >
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/home.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Inicio</span>
                            <span class="badge badge-sm badge-soft-pink ms-auto">Nuevo</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('normativas')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notebook" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18"></path>
                                        <line x1="13" y1="8" x2="15" y2="8"></line>
                                        <line x1="13" y1="12" x2="15" y2="12"></line>
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/doc.png" style="width: 34px; height: 34px;">
                                </span>
                            </span>
                            <span class="nav-link-text">Normativa</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('normativas')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    
                                    <!-- <i class="ri-file-pdf-fill text-blue-w"></i> -->
                                    <img src="assets/jampack/dist/img/doc.png" style="width: 34px; height: 34px;">
                                </span>
                            </span>
                            <span class="nav-link-text">Normativa</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('modelos')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg" >
                                <span class="svg-icon">
                                    
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-inbox" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <rect x="4" y="4" width="16" height="4" rx="1" />
                                        <rect x="4" y="12" width="6" height="8" rx="1" />
                                        <line x1="14" y1="12" x2="20" y2="12" />
                                        <line x1="14" y1="16" x2="20" y2="16" />
                                        <line x1="14" y1="20" x2="20" y2="20" />
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/modelos.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Modelos</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('modelos')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    
                                   <!--  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-inbox" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <rect x="4" y="4" width="16" height="4" rx="1" />
                                        <rect x="4" y="12" width="6" height="8" rx="1" />
                                        <line x1="14" y1="12" x2="20" y2="12" />
                                        <line x1="14" y1="16" x2="20" y2="16" />
                                        <line x1="14" y1="20" x2="20" y2="20" />
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/modelos.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Modelos</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('jurisprudencia')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-details" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M13 5h8"></path>
                                        <path d="M13 9h5"></path>
                                        <path d="M13 15h8"></path>
                                        <path d="M13 19h5"></path>
                                        <rect x="3" y="4" width="6" height="6" rx="1"></rect>
                                        <rect x="3" y="14" width="6" height="6" rx="1"></rect>
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/jurispru.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Jurisprudencias</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('jurisprudencia')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-details" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M13 5h8"></path>
                                        <path d="M13 9h5"></path>
                                        <path d="M13 15h8"></path>
                                        <path d="M13 19h5"></path>
                                        <rect x="3" y="4" width="6" height="6" rx="1"></rect>
                                        <rect x="3" y="14" width="6" height="6" rx="1"></rect>
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/jurispru.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Jurisprudencias</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('boletines')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                   <!--  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-code-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M10 12h-1v5h1"></path>
                                        <path d="M14 12h1v5h-1"></path>
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/clip.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Boletines</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('boletines')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                   <!--  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-code-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M10 12h-1v5h1"></path>
                                        <path d="M14 12h1v5h-1"></path>
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/clip.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Boletines</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('publicity')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/publicity.png" style="width: 34px; height: 34px;">
                                </span>
                            </span>
                            <span class="nav-link-text">Publicidad</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('cursos')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/curso.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Cursos y Charlas</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('cursos')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/curso.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Cursos y Charlas</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('cursos')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-code-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M10 12h-1v5h1"></path>
                                        <path d="M14 12h1v5h-1"></path>
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/estudio.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Estudios de Calidad</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('cursos')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-code-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M10 12h-1v5h1"></path>
                                        <path d="M14 12h1v5h-1"></path>
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/estudio.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Estudios de Calidad</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('cursos')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-code-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M10 12h-1v5h1"></path>
                                        <path d="M14 12h1v5h-1"></path>
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/capacitaciones.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Capacitaciones</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('cursos')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-code-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M10 12h-1v5h1"></path>
                                        <path d="M14 12h1v5h-1"></path>
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/capacitaciones.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Capacitaciones</span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" (click)="virtualRouter.setRoute('support')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-code-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M10 12h-1v5h1"></path>
                                        <path d="M14 12h1v5h-1"></path>
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                    </svg> -->
                                    <img src="assets/jampack/dist/img/chat.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Soporte </span>
                            <!-- <span class="badge badge-sm badge-soft-pink ms-auto">Hot</span> -->
                        </a>
                    </li>
                </ul>	
            </div>
            <!-- <div class="menu-gap"></div>
             <div class="menu-group">
                <div class="nav-header">
                    <span>Soporte</span>
                </div>
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer" (click)="virtualRouter.setRoute('support')">
                            <span class="nav-icon-wrap position-relative">
                                <span class="badge badge-sm badge-primary badge-sm badge-pill position-top-end-overflow">!</span>
                              <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" />
                                        <line x1="12" y1="11" x2="12" y2="11.01" />
                                        <line x1="8" y1="11" x2="8" y2="11.01" />
                                        <line x1="16" y1="11" x2="16" y2="11.01" />
                                    </svg>
                                </span> 
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-circle-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1" />
                                        <line x1="12" y1="12" x2="12" y2="12.01" />
                                        <line x1="8" y1="12" x2="8" y2="12.01" />
                                        <line x1="16" y1="12" x2="16" y2="12.01" />
                                    </svg>
                                </span>
                            </span>
                            <span class="nav-link-text">Chat</span>
                        </a>
                      
                        <ul id="dash_chat" class="nav flex-column collapse  nav-children">
                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="chats.html"><span class="nav-link-text">Chats</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="chats-group.html"><span class="nav-link-text">Groups</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="chats-contact.html"><span class="nav-link-text">Contacts</span></a>
                                    </li>
                                </ul>	
                            </li>	
                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="chatpopup.html"><span class="nav-link-text">Direct Message</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="chatbot.html"><span class="nav-link-text">Chatbot</span></a>
                                    </li>
                                </ul>	
                            </li>
                        </ul>	
                    </li>	
           
                </ul>
            </div>  -->
            <div class="menu-gap"></div>
            
        </div>
    </div>
    <!-- /Main Menu -->
</div>
<div id="hk_menu_backdrop" class="hk-menu-backdrop"></div>
<!-- /Vertical Nav -->