  <!-- Vertical Nav -->
  <div class="hk-menu">
    <!-- Brand -->
    <div class="menu-header">
        <span>
            <a class="navbar-brand" (click)="virtualRouter.setRoute('home')">
                <!-- <img class="brand-img img-fluid" src="assets/jampack/dist/img/brand-sm.png" alt="brand" /> -->
                <img class="brand-img img-fluid" src="assets/jampack/dist/img/Jampack.png" alt="brand" />
            </a>
            <button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle" style="color: #fff;">
                <span class="icon">
                    <span class="svg-icon fs-5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-to-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="10" y1="12" x2="20" y2="12"></line>
                            <line x1="10" y1="12" x2="14" y2="16"></line>
                            <line x1="10" y1="12" x2="14" y2="8"></line>
                            <line x1="4" y1="4" x2="4" y2="20"></line>
                        </svg>
                    </span>
                </span>
            </button>
        </span>
    </div>
    <!-- /Brand -->

    <!-- Main Menu -->
    <div data-simplebar class="nicescroll-bar">
        <div class="menu-content-wrap">
            <div class="menu-group">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'home'}" (click)="setActiveRoute('home')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/home.png" style="width: 34px; height: 34px;">
                                </span>
                            </span>
                            <span class="nav-link-text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'file-manager'}" (click)="setActiveRoute('file-manager')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/doc1.png" style="width: 34px; height: 34px;">
                                   
                                </span>
                            </span>
                            <span class="nav-link-text">Documentos</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'home'}" (click)="setActiveRoute('home')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg" >
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/home.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Inicio</span>
                            <span class="badge badge-sm badge-soft-pink ms-auto">Nuevo</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'normativas'}" (click)="setActiveRoute('normativas')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/doc.png" style="width: 34px; height: 34px;">
                                </span>
                            </span>
                            <span class="nav-link-text">Normativa</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'normativas'}" (click)="setActiveRoute('normativas')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    
                                    <img src="assets/jampack/dist/img/doc.png" style="width: 34px; height: 34px;">
                                </span>
                            </span>
                            <span class="nav-link-text">Normativa</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'modelos'}" (click)="setActiveRoute('modelos')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg" >
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/modelos.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Modelos</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'modelos'}" (click)="setActiveRoute('modelos')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/modelos.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Modelos</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'jurisprudencia'}" (click)="setActiveRoute('jurisprudencia')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    
                                    <img src="assets/jampack/dist/img/jurispru.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Jurisprudencias</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'jurisprudencia'}" (click)="setActiveRoute('jurisprudencia')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                   
                                    <img src="assets/jampack/dist/img/jurispru.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Jurisprudencias</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'boletines'}" (click)="setActiveRoute('boletines')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                   
                                    <img src="assets/jampack/dist/img/clip.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Boletines</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'boletines'}" (click)="setActiveRoute('boletines')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/clip.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Boletines</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'publicidad'}" (click)="setActiveRoute('publicity')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/publicity.png" style="width: 34px; height: 34px;">
                                </span>
                            </span>
                            <span class="nav-link-text">Publicidad</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'cursos'}" (click)="setActiveRoute('cursos')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/curso.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Cursos y Charlas</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'cursos'}" (click)="setActiveRoute('cursos')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/curso.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Cursos y Charlas</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'cursos'}" (click)="setActiveRoute('cursos')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/estudio.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Estudios de Calidad</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link"[ngClass]="{'active': activeRoute === 'estudios'}" (click)="setActiveRoute('estudios')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/estudio.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Estudios de Calidad</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'estudios'}" (click)="setActiveRoute('estudios')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/capacitaciones.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text ">Capacitaciones</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'capacitaciones'}" (click)="setActiveRoute('capacitaciones')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/capacitaciones.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Capacitaciones</span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'capacitaciones'}" (click)="setActiveRoute('capacitaciones')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/chat.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Soporte </span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()!='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'faq'}" (click)="setActiveRoute('faq')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/faq.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Manual de usuario </span>
                        </a>
                    </li>
                    <li class="nav-item" [hidden]="pocketAuthService.getType()=='admin'">
                        <a class="nav-link" [ngClass]="{'active': activeRoute === 'faq'}" (click)="setActiveRoute('faq')" style="cursor: pointer;">
                            <span class="nav-icon-wrap iconbg">
                                <span class="svg-icon">
                                    <img src="assets/jampack/dist/img/faq.png" style="width: 34px; height: 34px;">

                                </span>
                            </span>
                            <span class="nav-link-text">Manual de usuario</span>
                        </a>
                    </li>
                </ul>	
            </div>
           
            <div class="menu-gap"></div>
            
        </div>
    </div>
    <!-- /Main Menu -->
</div>
<div id="hk_menu_backdrop" class="hk-menu-backdrop"></div>
<!-- /Vertical Nav -->