
.svg-icon {
    line-height: 1 !important;
}

.iconbg {
    background: linear-gradient(135deg, #864ba8 0%, #f69950 100%);   
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.svg-icon{
    display: contents; justify-content: center; align-items: center;
}

.text-blue-w {
    color: #fff;
}
.nav-link.active {
    background-color: #864ba8; 
    color: white; 
}